.js-helper-module
  a(href="javascript:void(0);").js-helper-module__trigger 
    svg.icon(xmlns='http://www.w3.org/2000/svg', stroke='none', viewBox='0 0 12 20')
      path(d='M2.18 19.05L.77 17.64 8.4 10 .77 2.36 2.18.95 11.23 10l-9.05 9.05z')
  .js-helper-module__container
    //section
    .js-helper-module__section
      span.js-helper-module__section-title Страницы:
      .js-helper-module__section-content
        a(href=href+'/index.html').js-helper-module__section-button Главная
        a(href=href+'/search.html').js-helper-module__section-button Поиск-выдача
        a(href=href+'/tovar.html').js-helper-module__section-button Карточка товара
        a(href=href+'/tovar-preview.html').js-helper-module__section-button Превью товара
        a(href=href+'/articles.html').js-helper-module__section-button Статьи
        a(href=href+'/article.html').js-helper-module__section-button Статья
        a(href=href+'/contacts.html').js-helper-module__section-button Контакты
        a(href=href+'/lc.html').js-helper-module__section-button Лк - Избранное
        a(href=href+'/lc2.html').js-helper-module__section-button Лк - Мои скидки и бонусы
        a(href=href+'/lc3.html').js-helper-module__section-button Лк - Мои заказы
        a(href=href+'/lc4.html').js-helper-module__section-button Лк - Мои отзывы
        a(href=href+'/lc5.html').js-helper-module__section-button Лк - Мои данные
        a(href=href+'/messages.html').js-helper-module__section-button Всплывающиее подсказки
        a(href=href+'/certificates.html').js-helper-module__section-button Подарочные сертификаты
        a(href=href+'/catalogue.html').js-helper-module__section-button Каталог