-var index = 0
mixin checkbox(title)
  .checkbox.filter-section__checkbox
    input(type="checkbox" id=index).checkbox__input
    label(for=index).checkbox__label=title
  -index++
mixin checkbox-color(title, style)
  .checkbox.filter-section__checkbox
    input(type="checkbox" id=index).checkbox__input
    label(for=index).checkbox__label
      span.checkbox__color(style=style)
      span=title
  -index++

mixin checkbox-2(title, type)
  .checkbox.filter-section__checkbox
    input(type="checkbox" id=index).checkbox__input
    label(for=index).checkbox__label
      span=title
      if type==1
        span.checkbox__icon.checkbox__icon_style-1 
          span new
      else if type==2
        span.checkbox__icon.checkbox__icon_style-2
          <i class="fas fa-crown"></i> 
  -index++



aside.aside.col-lg-3
  .filter
    .filter__wrap
      .filter__head
        h6.filter__title Фильтр
        a(href="javascript:void(0)").filter__close
          span
          span
      .filter__container(data-scroll-lock-scrollable)
        //section
        .filter-section
          .filter-section__head
            h6.filter-section__title Тип товара
          .filter-section__content
            .filter-section__items
              select.select
                option(value="1") Товар
                option(value="2") Товар
                option(value="3" disabled) Товар
        //section
        .filter-section
          .filter-section__head
            h6.filter-section__title Вид товара
          .filter-section__content
            .filter-section__items
              select.select
                option(value="1") Подвесные
                option(value="2") Товар
                option(value="3" disabled) Товар

        //section
        .filter-section
          .filter-section__head
            h6.filter-section__title Цена
          .filter-section__content
            .filter-section__items
              .filter-range
                .filter-range__item
                  input(type="text" name="range-1" data-min="0" data-max="1000").js-range
                .filter-range__inputs
                  input(type="number").input.filter-range__input.filter-range__input-from
                  span
                  input(type="number").input.filter-range__input.filter-range__input-to
              +checkbox-2('Новинка', 1)
              +checkbox-2('Эксклюзив', 2)

        //section
        .filter-section.toggle-section.active
          a(href="javascript:void(0);").filter-section__head.toggle-section__head
            h6.filter-section__title Размеры
            i.fas.fa-chevron-down
          .filter-section__content.toggle-section__content
            //subsection
            .filter-subsection.toggle-section.active
              a(href="javascript:void(0);").filter-subsection__head.toggle-section__head
                h6.filter-subsection__title Высота, мм
                i.fas.fa-chevron-down
              .filter-subsection__content.toggle-section__content
                .filter-range
                  .filter-range__item
                    input(type="text" name="range-1" data-min="0" data-max="1000").js-range
                  .filter-range__inputs
                    input(type="number").input.filter-range__input.filter-range__input-from
                    span
                    input(type="number").input.filter-range__input.filter-range__input-to
            //subsection
            .filter-subsection.toggle-section
              a(href="javascript:void(0);").filter-subsection__head.toggle-section__head
                h6.filter-subsection__title Диаметр, мм
                i.fas.fa-chevron-down
              .filter-subsection__content.toggle-section__content
                .filter-range
                  .filter-range__item
                    input(type="text" name="range-1" data-min="0" data-max="1000").js-range
                  .filter-range__inputs
                    input(type="number").input.filter-range__input.filter-range__input-from
                    span
                    input(type="number").input.filter-range__input.filter-range__input-to
            //subsection
            .filter-subsection.toggle-section
              a(href="javascript:void(0);").filter-subsection__head.toggle-section__head
                h6.filter-subsection__title Длина, мм
                i.fas.fa-chevron-down
              .filter-subsection__content.toggle-section__content
                .filter-range
                  .filter-range__item
                    input(type="text" name="range-1" data-min="0" data-max="1000").js-range
                  .filter-range__inputs
                    input(type="number").input.filter-range__input.filter-range__input-from
                    span
                    input(type="number").input.filter-range__input.filter-range__input-to
            //subsection
            .filter-subsection.toggle-section
              a(href="javascript:void(0);").filter-subsection__head.toggle-section__head
                h6.filter-subsection__title Длина цепи, мм
                i.fas.fa-chevron-down
              .filter-subsection__content.toggle-section__content
                .filter-range
                  .filter-range__item
                    input(type="text" name="range-1" data-min="0" data-max="1000").js-range
                  .filter-range__inputs
                    input(type="number").input.filter-range__input.filter-range__input-from
                    span
                    input(type="number").input.filter-range__input.filter-range__input-to
            //subsection
            .filter-subsection.toggle-section
              a(href="javascript:void(0);").filter-subsection__head.toggle-section__head
                h6.filter-subsection__title Ширина, мм
                i.fas.fa-chevron-down
              .filter-subsection__content.toggle-section__content
                .filter-range
                  .filter-range__item
                    input(type="text" name="range-1" data-min="0" data-max="1000").js-range
                  .filter-range__inputs
                    input(type="number").input.filter-range__input.filter-range__input-from
                    span
                    input(type="number").input.filter-range__input.filter-range__input-to

        //section
        .filter-section.toggle-section.active
          a(href="javascript:void(0);").filter-section__head.toggle-section__head
            h6.filter-section__title Бренд 
            i.fas.fa-chevron-down
          .filter-section__content.toggle-section__content.scrollbar
            .filter-section__items.scrollbar__content
              +checkbox('Mantra (Испания)')
              +checkbox('MW-Light (Германия)')
              +checkbox('Chiaro (Германия)')
              +checkbox('ST-Luce (Китай)')
              +checkbox('IDLamp (Италия)')
              +checkbox('Citilux (Дания)')
              +checkbox('Globo (Австрия)')
              +checkbox('Odeon Light (Италия)')
              +checkbox('Lightstar (Италия)')
              +checkbox('Mantra (Испания)')
              +checkbox('MW-Light (Германия)')
              +checkbox('Chiaro (Германия)')
              +checkbox('ST-Luce (Китай)')
              +checkbox('IDLamp (Италия)')
              +checkbox('Citilux (Дания)')
              +checkbox('Globo (Австрия)')
              +checkbox('Odeon Light (Италия)')
              +checkbox('Lightstar (Италия)')
        //section
        .filter-section.toggle-section.active
          a(href="javascript:void(0);").filter-section__head.toggle-section__head
            h6.filter-section__title Страна производителя 
            i.fas.fa-chevron-down
          .filter-section__content.toggle-section__content.scrollbar
            .filter-section__items.scrollbar__content
              +checkbox('Испания')
              +checkbox('Германия')
              +checkbox('Китай')
              +checkbox('Италия')
              +checkbox('Дания')
              +checkbox('Австрия')
              +checkbox('Франция')
              +checkbox('Россия')
              +checkbox('Венгрия')
              +checkbox('Италия')
              +checkbox('Дания')
              +checkbox('Австрия')
              +checkbox('Франция')
              +checkbox('Россия')
              +checkbox('Венгрия')
        //section
        .filter-section.toggle-section.active
          a(href="javascript:void(0);").filter-section__head.toggle-section__head
            h6.filter-section__title Цвет плафонов 
            i.fas.fa-chevron-down
          .filter-section__content.toggle-section__content.scrollbar
            .filter-section__items.scrollbar__content
              +checkbox-color('Белый', 'background-color:#fff;')
              +checkbox-color('Прозрачный', 'background-image:url("img/sssss.png");')
              +checkbox-color('Неокрашенный', 'background-image:url("img/Shape.png");')
              +checkbox-color('Хром', 'background-color:#cc7722;border-color:#cc7722;')
              +checkbox-color('Золото', 'background-color:#ffd700;border-color:#ffd700;')
              +checkbox-color('Бронза', 'background-color:#cd7f32;border-color:#cd7f32;')
              +checkbox-color('Черный', 'background-color:#000000;border-color:#000000;')
              +checkbox-color('Серебро', 'background-color:#c0c0c0;border-color:#c0c0c0;')
              +checkbox-color('Коричневый', 'background-color:#a45620;border-color:#a45620;')
              +checkbox-color('Хром', 'background-color:#cc7722;border-color:#cc7722;')
              +checkbox-color('Золото', 'background-color:#ffd700;border-color:#ffd700;')
              +checkbox-color('Бронза', 'background-color:#cd7f32;border-color:#cd7f32;')
              +checkbox-color('Черный', 'background-color:#000000;border-color:#000000;')
              +checkbox-color('Серебро', 'background-color:#c0c0c0;border-color:#c0c0c0;')
              +checkbox-color('Коричневый', 'background-color:#a45620;border-color:#a45620;')

        //section
        .filter-section.toggle-section
          a(href="javascript:void(0);").filter-section__head.toggle-section__head
            h6.filter-section__title Цвет арматуры 
            i.fas.fa-chevron-down
          .filter-section__content.toggle-section__content.scrollbar
            .filter-section__items.scrollbar__content
              .radio.filter-section__checkbox
                input(type="radio" id='ddfgdgd' name='dddd').radio__input
                label(for='ddfgdgd').radio__label Значение
              .radio.filter-section__checkbox
                input(type="radio" id='dsdsfff' name='dddd').radio__input
                label(for='dsdsfff').radio__label Значение
        
        //section
        .filter-section.toggle-section.active
          a(href="javascript:void(0);").filter-section__head.toggle-section__head
            h6.filter-section__title Тип цоколя лампы
            i.fas.fa-chevron-down
          .filter-section__content.toggle-section__content.scrollbar
            .filter-section__items.scrollbar__content
              +checkbox('E14')
              +checkbox('E27')
              +checkbox('G9')
              +checkbox('GU10')
              +checkbox('GY6')
              +checkbox('E14')
        
        //section
        .filter-section.toggle-section
          a(href="javascript:void(0);").filter-section__head.toggle-section__head
            h6.filter-section__title Наименование производителя
            i.fas.fa-chevron-down
          .filter-section__content.toggle-section__content.scrollbar
            .filter-section__items.scrollbar__content
              +checkbox('Испания')
              +checkbox('Германия')
              +checkbox('Китай')
              +checkbox('Италия')
              +checkbox('Дания')
              +checkbox('Австрия')
              +checkbox('Франция')
              +checkbox('Россия')
              +checkbox('Венгрия')
              +checkbox('Италия')
              +checkbox('Дания')
              +checkbox('Австрия')
              +checkbox('Франция')
              +checkbox('Россия')
              +checkbox('Венгрия')
              
      .filter__bottom
        button.button.button_style-1.filter__button Подобрать
