footer.footer
  .container.footer__container 
    .footer__nav-blocks
      .footer__nav-block 
        h2 Клиентам
        ul.footer__nav-list
          li.footer__nav-item
            a(href=template).footer__nav-link.link.link_reversed ЧаВО 
          li.footer__nav-item
            a(href=template).footer__nav-link.link.link_reversed Бонусная программа
          li.footer__nav-item
            a(href=template).footer__nav-link.link.link_reversed Правила продажи
          li.footer__nav-item
            a(href=template).footer__nav-link.link.link_reversed Пользовательское соглашение 
          li.footer__nav-item
            a(href=template).footer__nav-link.link.link_reversed Способы оплаты
      .footer__nav-block 
        h2 Партнерам
        ul.footer__nav-list
          li.footer__nav-item
            a(href=template).footer__nav-link.link.link_reversed Открыть свою точку  
          li.footer__nav-item
            a(href=template).footer__nav-link.link.link_reversed Договор-оферта 
          li.footer__nav-item
            a(href=template).footer__nav-link.link.link_reversed Презентация
          li.footer__nav-item
            a(href=template).footer__nav-link.link.link_reversed Условия отдельно 
      .footer__nav-block 
        h2 IBUYIT
        ul.footer__nav-list
          li.footer__nav-item
            a(href=template).footer__nav-link.link.link_reversed О нас
          li.footer__nav-item
            a(href=template).footer__nav-link.link.link_reversed Контакты


    .footer__items  
      a(href=home).footer__logo
        img(src="./img/logos/logo.png", alt="logo")
      .socials.footer__socials
        ul.socials__list
          li.socials__item 
            a(href=template).socials__link  
              img(src="./img/icons/vk.svg", alt="icon")
          li.socials__item 
            a(href=template).socials__link  
              img(src="./img/icons/instagram.svg", alt="icon")
          li.socials__item 
            a(href=template).socials__link  
              img(src="./img/icons/fb.svg", alt="icon")
