header.header(data-scroll-lock-fill-gap)
  .container 
    .header__container
      .header__left
        a(href=home).header__logo
          img(src="./img/logos/logo.png", alt="logo")

        .header__catalogue
          a(href=catalogue).header__catalogue-button
            svg.icon
              use(xlink:href='./img/icons/sprite.svg#nav')

        nav.header__nav 
          ul.header__nav-list   
            li.header__nav-item.toggle-section(data-hover)
              a(href=template).header__nav-link.link.link_reversed.toggle-section__trigger доставка
              .header__dropdown.toggle-section__content
                ul.header__dropdown-list
                  li.header__dropdown-item 
                    a(href=template).header__dropdown-link.link.link_reversed Lorem ipsum dolor
                  li.header__dropdown-item 
                    a(href=template).header__dropdown-link.link.link_reversed Ut labore et dolore magna
                  li.header__dropdown-item 
                    a(href=template).header__dropdown-link.link.link_reversed Et dolore magna ipsum


            li.header__nav-item.toggle-section(data-hover)
              a(href=template).header__nav-link.link.link_reversed.toggle-section__trigger форум
              .header__dropdown.toggle-section__content
                ul.header__dropdown-list
                  li.header__dropdown-item 
                    a(href=template).header__dropdown-link.link.link_reversed Lorem ipsum dolor
                  li.header__dropdown-item 
                    a(href=template).header__dropdown-link.link.link_reversed Ut labore et dolore magna
                  li.header__dropdown-item 
                    a(href=template).header__dropdown-link.link.link_reversed Et dolore magna ipsum
            li.header__nav-item   
              a(href=template).header__nav-link.link.link_reversed бонусная программа
            li.header__nav-item   
              a(href=template).header__nav-link.link.link_reversed контакты

      .header__right

        form.search-form.header__search-form
          .input.search-form__input 
            input(type="text" placeholder="Поиск") 
          button.search-form__button
            svg.icon
              use(xlink:href='./img/icons/sprite.svg#magnifying')

        .header__items  
          a(href=template).header__item
            img(src="./img/icons/house.png", alt="icon")
          a(href=template).header__item
            img(src="./img/icons/cart.png", alt="icon")
          a(href=template).header__item
            img(src="./img/icons/star.png", alt="icon")
          a(href=template).header__item
            img(src="./img/icons/socials.png", alt="icon")

        button.nav-open
          span 
          span 
          span