aside.catalogue-aside.col-xl-20pc.col-lg-3

  .catalogue-aside-items
    ul.catalogue-aside-items__list
      mixin item(title, Class)
        li.catalogue-aside-items__item
          a(href="#" class=Class).catalogue-aside-items__link=title
      +item('Бра', 'active')
      +item('Декор интерьера')
      +item('Люстры')
      +item('Накладные светильники')
      +item('Настольные лампы')
      +item('Подвесные светильники')
      +item('Подсветка для зеркал и витрин')
      +item('Подсветка для картин')
      +item('Светильники для детей')
      +item('Светильники на штанге')
      +item('Специальные светильники для ванной')
      +item('Споты')
      +item('Торшеры')
      +item('Лампы Эдисона')
      +item('Подвесы')
  
  //ФИЛЬТР
  -var index = 0
  mixin checkbox(title)
    .checkbox.filter-section__checkbox
      input(type="checkbox" id=index).checkbox__input
      label(for=index).checkbox__label=title
    -index++
  mixin checkbox-color(style)
    .checkbox.checkbox_color.filter-section__color-checkbox
      input(type="checkbox" id=index).checkbox__input
      label(for=index).checkbox__label(style='background-color:'+style+';')
    -index++
  -index++

  .filter
    .filter__wrap
      .filter__head
        h4.filter__title Фильтр
        a(href="javascript:void(0)").filter__close
          span
          span
      .filter__container(data-scroll-lock-scrollable)

        //section
        .filter-section.active.toggle-section.active(data-slide)
          a(href="javascript:void(0);").filter-section__head.toggle-section__trigger ЦЕНА, РУБ
          .filter-section__content.toggle-section__content
            .filter-section__items
              .filter-range
                .filter-range__inputs
                  .input.filter-range__input.filter-range__input-from
                    input(type="text").input__element
                  span
                  .input.filter-range__input.filter-range__input-to
                    input(type="text").input__element
                .filter-range__item
                  input(type="text" name="range-1" data-min="1500" data-max="150000").js-range
                  
        //section
        .filter-section.toggle-section.active(data-slide)
          a(href="javascript:void(0);").filter-section__head.toggle-section__trigger ДИАМЕТР, мм
          .filter-section__content.toggle-section__content
            .filter-section__items
              .filter-range
                .filter-range__inputs
                  .input.filter-range__input.filter-range__input-from
                    input(type="text").input__element
                  span
                  .input.filter-range__input.filter-range__input-to
                    input(type="text").input__element
                .filter-range__item
                  input(type="text" name="range-2" data-min="1500" data-max="150000").js-range
        //section
        .filter-section.toggle-section(data-slide)
          a(href="javascript:void(0);").filter-section__head.toggle-section__trigger ДЛИНА, мм
          .filter-section__content.toggle-section__content
            .filter-section__items
              .filter-range
                .filter-range__inputs
                  .input.filter-range__input.filter-range__input-from
                    input(type="text").input__element
                  span
                  .input.filter-range__input.filter-range__input-to
                    input(type="text").input__element
                .filter-range__item
                  input(type="text" name="range-1" data-min="1500" data-max="150000").js-range

        //section
        .filter-section.toggle-section(data-slide)
          a(href="javascript:void(0);").filter-section__head.toggle-section__trigger ДЛИНА ЦЕПИ, мм
          .filter-section__content.toggle-section__content
            .filter-section__items
              .filter-range
                .filter-range__inputs
                  .input.filter-range__input.filter-range__input-from
                    input(type="text").input__element
                  span
                  .input.filter-range__input.filter-range__input-to
                    input(type="text").input__element
                .filter-range__item
                  input(type="text" name="range-1" data-min="1500" data-max="150000").js-range

        //section
        .filter-section.toggle-section(data-slide)
          a(href="javascript:void(0);").filter-section__head.toggle-section__trigger ШИРИНА, мм
          .filter-section__content.toggle-section__content
            .filter-section__items
              .filter-range
                .filter-range__inputs
                  .input.filter-range__input.filter-range__input-from
                    input(type="text").input__element
                  span
                  .input.filter-range__input.filter-range__input-to
                    input(type="text").input__element
                .filter-range__item
                  input(type="text" name="range-1" data-min="1500" data-max="150000").js-range
                  
        //section
        .filter-section.toggle-section(data-slide)
          a(href="javascript:void(0);").filter-section__head.toggle-section__trigger ВЫСОТА, мм
          .filter-section__content.toggle-section__content
            .filter-section__items
              .filter-range
                .filter-range__inputs
                  .input.filter-range__input.filter-range__input-from
                    input(type="text").input__element
                  span
                  .input.filter-range__input.filter-range__input-to
                    input(type="text").input__element
                .filter-range__item
                  input(type="text" name="range-2" data-min="1500" data-max="150000").js-range

        //section
        .filter-section.toggle-section.active(data-slide)
          a(href="javascript:void(0);").filter-section__head.toggle-section__trigger БРЕНД
          .filter-section__content.toggle-section__content.scrollbar
            .filter-section__items.scrollbar__content
              +checkbox('Mantra (Испания)')
              +checkbox('MW-Light (Германия)')
              +checkbox('Chiaro (Германия)')
              +checkbox('ST-Luce (Китай)')
              +checkbox('IDLamp (Италия)')
              +checkbox('Citilux (Дания)')
              +checkbox('Globo (Австрия)')
              +checkbox('Odeon Light (Италия)')
              +checkbox('Lightstar (Италия)')
              +checkbox('Mantra (Испания)')
              +checkbox('MW-Light (Германия)')
              +checkbox('Chiaro (Германия)')
              +checkbox('ST-Luce (Китай)')
              +checkbox('IDLamp (Италия)')
              +checkbox('Citilux (Дания)')
              +checkbox('Globo (Австрия)')
        //section
        .filter-section.toggle-section(data-slide)
          a(href="javascript:void(0);").filter-section__head.toggle-section__trigger СТРАНА ПРОИЗВОДИТЕЛЯ
          .filter-section__content.toggle-section__content.scrollbar
            .filter-section__items.scrollbar__content
              +checkbox('Mantra (Испания)')
              +checkbox('MW-Light (Германия)')
              +checkbox('Chiaro (Германия)')
              +checkbox('ST-Luce (Китай)')
              +checkbox('IDLamp (Италия)')
              +checkbox('Citilux (Дания)')
              +checkbox('Globo (Австрия)')
              +checkbox('Odeon Light (Италия)')

        //section
        .filter-section.toggle-section.active(data-slide)
          a(href="javascript:void(0);").filter-section__head.toggle-section__trigger ЦВЕТ ПЛАФОНОВ
          .filter-section__content.toggle-section__content
            .filter-section__items.filter-section__colors
              +checkbox-color('#545761')
              +checkbox-color('#fff')
              +checkbox-color('#eec337')
              +checkbox-color('#c28400')
              +checkbox-color('#c26400')
              +checkbox-color('#000000')
              +checkbox-color('#d0d0d0')
              +checkbox-color('#724608')
              +checkbox-color('#eec337')
              +checkbox-color('#c28400')
              +checkbox-color('#c26400')
              +checkbox-color('#000000')
              +checkbox-color('#d0d0d0')
              +checkbox-color('#724608')
        
        //section
        .filter-section.toggle-section(data-slide)
          a(href="javascript:void(0);").filter-section__head.toggle-section__trigger ЦВЕТ АРМАТУРЫ
          .filter-section__content.toggle-section__content
            .filter-section__items.filter-section__colors
              +checkbox-color('#545761')
              +checkbox-color('#fff')
              +checkbox-color('#eec337')
              +checkbox-color('#c28400')
              +checkbox-color('#c26400')
              +checkbox-color('#000000')

        //section
        .filter-section.toggle-section(data-slide)
          a(href="javascript:void(0);").filter-section__head.toggle-section__trigger ТИП ЦОКОЛЯ
          .filter-section__content.toggle-section__content.scrollbar
            .filter-section__items.scrollbar__content
              .radio.filter-section__checkbox
                input(type="radio" id='ddfgdgd' name='dddd').radio__input
                label(for='ddfgdgd').radio__label Значение
              .radio.filter-section__checkbox
                input(type="radio" id='dsdsfff' name='dddd').radio__input
                label(for='dsdsfff').radio__label Значение
      .filter__bottom
        button.button.button_style-3.button_radius.filter__button Показать
              