-var href = 'https://ruslanmmr.github.io/work/svsan/build'
//-var href = 'http://localhost:9001'

doctype html
html
  head
    base(href="https://svsan.ru")
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='format-detection' content='telephone=no')
    script(type='text/javascript' nonce='e6022a919685406992bd8ee92ea' src='//local.adguard.org?ts=1606993703374&type=content-script&dmn=svsan.ru&app=com.google.Chrome&css=1&js=1&gcss=1&rel=1&rji=1&sbe=0')
    script(type='text/javascript' nonce='e6022a919685406992bd8ee92ea' src='//local.adguard.org?ts=1606993703374&name=AdGuard%20Extra&type=user-script')
    link(rel='shortcut icon' href='/static/images/favicon.ico' type='image/x-icon')
    title Интернет-магазин сантехники SVSAN.RU в Самаре: купить сантехнику в Самаре дешево
    meta(name='keywords' content='сантехника в самаре, интернет магазин сантехники, интернет магазин сантехники в самаре, интернет магазин сантехники самара, купить сантехнику в самаре, магазин сантехники в самаре, магазин сантехники самара, магазины сантехники в самаре, самара сантехника, сантехника, сантехника в самаре дешево')
    meta(name='description' content='Магазин сантехники и отопления в Самаре - лучшее место для покупки сантехнических товаров для дома или коммерческого объекта. Мы предоставляем богатый выбор по минимальным ценам, лучший сервис и заводские гарантии.')
    link(rel='stylesheet' href='/static/css/screen.css' type='text/css' media='screen, projection')
    link(rel='stylesheet' href='/static/css/popup.css' type='text/css' media='screen, projection')
    link(rel='stylesheet' href='/static/css/sales.css' type='text/css' media='screen, projection')
    link(rel='stylesheet' href='/static/js/jquery.jgrowl/jquery.jgrowl.css' type='text/css')
    link(rel='stylesheet' href='/static/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css')
    link(rel='stylesheet' href='/static/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css')
    link(rel='stylesheet' href='/static/css/image_slider.css')
    meta(name='yandex-verification' content='7c1db258268e31a7')
    link(rel='stylesheet' href='/static/css/adaptive.css')
    link(rel='stylesheet' href=href+'/styles/new.css')
    //для соц сетей
    <meta property="og:title" content="Магазин сантехники и отопления">
    <meta property="og:site_name" content='svsan.ru'>
    <meta property="og:url" content="Ссылка страницы на саму себя">
    <meta property="og:description" content="Краткое описание текущей страницы">
    <meta property="og:image" content='https://placehold.co/600x400?text=Картинка+Страницы'>

  body
    #wrapper
      #page
        header#header
          .top-panel
            .container
              nav.nav
                a(href='/catalog/')
                  span Каталог
                a(href='/about/')
                  span О компании
                a(href='/delivery/')
                  span Доставка
                a(href='/reviews/')
                  span Отзывы
                a(href='/certificates/')
                  span Сертификаты
                a(href='/pay/')
                  span Оплата
                a(href='/contacts/')
                  span Контакты

              //new btn
              a(href="#form-popup" data-popup-open).get-callback-button
                svg(viewBox='0 0 513.64 513.64' fill='currentColor')
                  path(d='M499.66,376.96l-71.68-71.68c-25.6-25.6-69.12-15.359-79.36,17.92c-7.68,23.041-33.28,35.841-56.32,30.72\
                      c-51.2-12.8-120.32-79.36-133.12-133.12c-7.68-23.041,7.68-48.641,30.72-56.32c33.28-10.24,43.52-53.76,17.92-79.36l-71.68-71.68\
                      c-20.48-17.92-51.2-17.92-69.12,0l-48.64,48.64c-48.64,51.2,5.12,186.88,125.44,307.2c120.32,120.32,256,176.641,307.2,125.44\
                      l48.64-48.64C517.581,425.6,517.581,394.88,499.66,376.96z')
                span Обратный звонок

              .schedule-wrapper 9:00 - 18:00
              

              .phone
                .number
                  span.lptracker_phone(style='font-size:22px; color:#ffffff')
                    a(rel='nofollow' target='_blank' href='tel:+79033010005')
                      span.lptracker_phone(style='font-size:22px; color:#ffffff') +7 903 301-0005
          .main-panel
            .container
              a(href="/").site-logo
                span.site-logo__txt Магазин сантехники и отопления
                img.site-logo__image(src=href+"/img/svsan.svg", alt="logo")
              //a.site-name(href='/')
                | Магазин сантехники 
                br
                |  и отопления
              form.search-form(action='/catalog/search/')
                input(type='text' name='q' placeholder='Пример: Grohe 856' value='')
                input(type='submit' value='enter')
              .header-cart
                .empty В корзине пусто.
        
        block content
    
    
    
    footer#footer
      .container
        nav.nav
          a(href='/catalog/')
            span Каталог
          a(href='/about/')
            span О компании
          a(href='/delivery/')
            span Доставка
          a(href='/reviews/')
            span Отзывы
          a(href='/certificates/')
            span Сертификаты
          a(href='/pay/')
            span Оплата
          a(href='/contacts/')
            span Контакты
        ul.links-footer
          li
            a(href='/catalog/showers/') Душевые кабины
          li
            a(href='/catalog/baths/') Ванны
          li
            a(href='/catalog/vanity/') Мебель для ванной
          li
            a(href='/catalog/dushevye-poddony/') Душевые поддоны и ограждения
          li
            a(href='/catalog/pan/') Унитазы
          li
            a(href='/catalog/sinks/') Раковины
          li
            a(href='/catalog/bidet/') Биде
          li
            a(href='/catalog/urinals/') Писсуары
          li
            a(href='/catalog/faucets/') Смесители
          li
            a(href='/catalog/towel/') Полотенцесушители
          li
            a(href='/catalog/accessories/') Аксессуары
          li
            a(href='/catalog/boilers/') Котельное оборудование
          li
            a(href='/catalog/geysers/') Газовые колонки
          li
            a(href='/catalog/electric-instantaneous-water-heaters/') Электрические проточные водонагреватели
          li
            a(href='/catalog/heaters/') Водонагреватели
          li
            a(href='/catalog/gas-water-heaters/') Газовые накопительные водонагреватели
          li
            a(href='/catalog/pumping/') Насосное оборудование
          li
            a(href='/catalog/radiators/') Радиаторы отопления
          li
            a(href='/catalog/convectors/') Конвекторы
          li
            a(href='/catalog/furnace/') Печи для бани
          li
            a(href='/catalog/installation/') Системы инсталляции
          li
            a(href='/catalog/kitchen-sinks/') Мойки для кухни
          li
            a(href='/catalog/sewerage/') Канализация
          li
            a(href='/catalog/valving/') Запорная арматура
          li
            a(href='/catalog/fitting/') Фитинги
          li
            a(href='/catalog/siphons/') Сифоны, сливная арматура
        .copyright
          | © Магазин сантехники и отопления, 2020 
          span.lptracker_phone +7 903 301-0005
          |  
          a(rel='nofollow' target='_blank' href='mailto:info@svsan.ru') info@svsan.ru
          |  
          a(href='/privacy/') Политика конфиденциальности
          |  |
          a(rel='nofollow' target='_blank' href='http://fancymedia.ru') разработка и продвижение сайта – fancymedia




    //new popups
    include ../blocks/popups




    script(src='/static/js/jquery.js')
    script(src='/static/js/jquery.jcarousel.min.js')
    script(src='/static/js/js.cookie.js')
    script(src='/static/js/jquery.jgrowl/jquery.jgrowl.js')
    script(src='/static/js/scripts.js')
    script(src='/static/js/popup.js')
    script(src='/static/OwlCarousel2-2.3.4/dist/owl.carousel.min.js')
    script(type='text/javascript' src='/static/js/adaptive.js')

    

    //helper
    script(src=href+'/scripts/helper.js')
    link(rel='stylesheet' href=href+'/styles/helper.css')
    include ../blocks/helper

    //newjs
    script(src=href+'/scripts/new.js')
        