extends layout/layout

block scripts 
  script(src='https://api-maps.yandex.ru/2.1/?apikey=c3161078-41ce-4809-936f-dd4c9bcc8a50&lang=ru_RU' type='text/javascript')
  script(type='text/javascript' src='/static/js/jquery-3.2.1.min.js')
  script(type='text/javascript' src='/static/js/jquery.fancybox.v3.5.7.min.js')
  script(type='text/javascript' src='/static/js/owl.carousel.js')
  script(type='text/javascript' src='/static/js/jquery.mask.min.js')
  script(type='text/javascript').
    window.onload = windowload;
    window.onresize = AppendScript;
    function windowload() {
    AppendScript();
    }
    function AppendScript() {
    if (window.innerWidth >= 767) {
    Include('/static/js/scripts-desktop.js', 'on')
    } else {
    Include(`#{href}/scripts/scripts-mobile.js`, 'on')
    }
    }
    function Include(filename, status) {
    var head = document.getElementsByTagName('head')[0];
    if (status == 'on') {
    script = document.createElement('script');
    script.src = filename;
    script.type = 'text/javascript';
    head.appendChild(script)
    } else if (status == 'off') {
    var scripts = head.getElementsByTagName('script');
    if (scripts.length > 0) {
    head.removeChild(scripts[1]);
    }
    }
    }
  script(type='text/javascript').
    // This url dictionary is used in js scripts instead of direct links.
    const URLS = {
    static: "/static/",
    cart: "/cart/",
    register: "/account/register/",
    }
  script(src='/static/js/notify.min.js')
  script(src='/static/js/ajax_setup.js')
  script(src='/static/catalog/js/search.js')
  script(src='/static/js/common.js')
  script(src='/static/js/contentSelectionDisable.js')
  script(src='/static/commerce/js/cart.js')
  script(src='/static/catalog/js/catalog.js')
  script.
    var BNR_URLS = {
    'inc_views': '/bnrs/ajax/view-cnt-incr',
    'inc_clicks': '/bnrs/ajax/clck-cnt-incr'
    };
  script(src='/static/banners/js/bnrs.js')
  script(src='/static/addresses/js/addresses_yamap.js')
  script(type='text/javascript' src='/static/crm/js/crm_forms.js')
  script(src='/static/addresses/js/addresses_yamap.js')
  script(src='/static/js/frontpage.js')
  script(type='text/javascript' src='/static/subscription/js/subscription.js')
  script(src=href+'/scripts/scripts.js')

block variables
  -var bodyClass = 'frontpage wide-mode'
block content
  //new banner
  .home-banner.owl-carousel
    .home-banner__slide.image.image_cover
      img(src='https://vagonka-brus-doska.ru/media/slides/big_slides/%D0%91%D0%B0%D0%BD%D0%BD%D0%B5%D1%80_%D1%81%D0%BB%D0%BA_3_82FT1YE.jpg', alt="image")
    .home-banner__slide.image.image_cover
      img(src='https://vagonka-brus-doska.ru/media/slides/big_slides/%D0%91%D0%B0%D0%BD%D0%BD%D0%B5%D1%80_%D1%81%D0%BB%D0%BA_3_82FT1YE.jpg', alt="image")
  
  //section.section.home-categories
    .container
      .grid.home-categories__container
        include blocks/cards
        -var grid = 'grid__block home-categories__block'
        +card2('Деревянные дома', href+'/img/56dcc810efa71925168c0d36d5c3fbf7.png', grid)
        +card2('Кровельные работы', href+'/img/7eaf93e9c47993e5b22277de3a30b89e.png', grid)
        +card2('Пропитки для бревен', href+'/img/767773b7699f15e02052b250d92c0c7f.png', grid)
        +card2('Проектирование', href+'/img/e79cec4f0a120d2e96a1701cf4ef8db3.png', grid)
  
  
  section.section.section-first-alter
    .container
      .catalog-side.mobile-show
        span.catalog-side__title
          span.icon
            svg(width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M0 0V2H16V0H0ZM0 8H16V6H0V8ZM0 14H16V12H0V14Z' fill='currentColor')
          | Каталог продукции
        .catalog-side__content
          ul
            li.menu-item.current
              a(href='/catalog/brevno-ocilindrovannoe/') Бревно оцилиндрованное
            li.menu-item.current
              a(href='/catalog/vagonka-i-evrovagonka/') Вагонка и Евровагонка
            li.menu-item.current
              a(href='/catalog/blok-haus/') Блок Хаус
            li.menu-item.current
              a(href='/catalog/imitaciya-brusa/') Имитация бруса
            li.menu-item.current
              a(href='/catalog/doska-pola/') Доска пола
            li.menu-item.current
              a(href='/catalog/brus-i-doska-suhie-strogannye/') Брус и Доска
            li.menu-item.current
              a(href='/catalog/derevianniy-dekor/') Деревянный декор
            li.menu-item.current
              a(href='/catalog/elementy-lestnic/') Элементы лестниц
            li.menu-item.current
              a(href='/catalog/dveri-i-okna/') Двери и окна
            li.menu-item.current
              a(href='/catalog/materialy-iz-lipy/') Материалы из липы и абаши
            li.menu-item.current
              a(href='/catalog/materialy-iz-listvennicy/') Материалы из лиственницы
            li.menu-item.current
              a(href='/catalog/materialy-ih-osiny-i-abashi/') Материалы из осины
            li.menu-item.current
              a(href='/catalog/fanera-osb-dsp-dvp-tssp/') Фанера, ОСБ, ДСП, ДВП
            li.menu-item.current
              a(href='/catalog/utepliteli/') Утеплители
            li.menu-item.current
              a(href='/catalog/rulonnie-izoliyzionnie-materialy/') Рулонные изоляционные материалы
            li.menu-item.current
              a(href='/catalog/propitki-dlya-drevesiny/') Пропитки для древесины
            li.menu-item.current
              a(href='/catalog/derevyannye-igrushki/') Деревянные игрушки
      .content-block
        .main-slider
          .owl-carousel(data-autoplay-timeout='5')
            .item
              .slide-img
                a(href='http://box6.stroyker.pro/news/promo/superuslovia/' title='Пример большого слайда')
                  img(src='https://vagonka-brus-doska.ru/media/slides/big_slides/%D0%91%D0%B0%D0%BD%D0%BD%D0%B5%D1%80_%D1%81%D0%BB%D0%BA_3_82FT1YE.jpg' alt='')
            .item
              .slide-img
                a(href='http://box6.stroyker.pro/news/promo/klassnay-akzia/' title='Пример 2')
                  img(src='https://vagonka-brus-doska.ru/media/slides/big_slides/%D0%91%D0%B0%D0%BD%D0%BD%D0%B5%D1%80_%D1%81%D0%BB%D0%BA_3_82FT1YE.jpg' alt='')

        span.content-title.product-set-title.h2 Категории товаров
        .category-slider
          .owl-carousel
            .item
              a.catalog-menu-item(href='/catalog/brevno-ocilindrovannoe/' title="Перейти на страницу раздела 'Бревно оцилиндрованное'")
                span.catalog-menu-item__image
                  img(src='/media/vagonkabrus_cache/b1/58/b158304fe92f29220831dbef5fd675fe.jpg' alt='Бревно оцилиндрованное')
                span.catalog-menu-item__name Бревно оцилиндрованное
              a.catalog-menu-item(href='/catalog/vagonka-i-evrovagonka/' title="Перейти на страницу раздела 'Вагонка и Евровагонка'")
                span.catalog-menu-item__image
                  img(src='/media/vagonkabrus_cache/d2/a6/d2a67425e46b69e8bdf92a9d154b06d2.jpg' alt='Вагонка и Евровагонка')
                span.catalog-menu-item__name Вагонка и Евровагонка
            .item
              a.catalog-menu-item(href='/catalog/blok-haus/' title="Перейти на страницу раздела 'Блок Хаус'")
                span.catalog-menu-item__image
                  img(src='/media/vagonkabrus_cache/e8/16/e816bf9b4b9ed15ad5bebfbdc6edad60.jpg' alt='Блок Хаус')
                span.catalog-menu-item__name Блок Хаус
              a.catalog-menu-item(href='/catalog/imitaciya-brusa/' title="Перейти на страницу раздела 'Имитация бруса'")
                span.catalog-menu-item__image
                  img(src='/media/vagonkabrus_cache/4d/e0/4de04029d45fe71d643ef56fd550274b.jpg' alt='Имитация бруса')
                span.catalog-menu-item__name Имитация бруса
            .item
              a.catalog-menu-item(href='/catalog/doska-pola/' title="Перейти на страницу раздела 'Доска пола'")
                span.catalog-menu-item__image
                  img(src='/media/vagonkabrus_cache/3f/47/3f47a48ba0c3c6e53037e7a64aabe6b0.jpg' alt='Доска пола')
                span.catalog-menu-item__name Доска пола
              a.catalog-menu-item(href='/catalog/brus-i-doska-suhie-strogannye/' title="Перейти на страницу раздела 'Брус и Доска'")
                span.catalog-menu-item__image
                  img(src='/media/vagonkabrus_cache/5b/94/5b94a9e8281ac988e782e500406b353c.jpg' alt='Брус и Доска')
                span.catalog-menu-item__name Брус и Доска
            .item
              a.catalog-menu-item(href='/catalog/derevianniy-dekor/' title="Перейти на страницу раздела 'Деревянный декор'")
                span.catalog-menu-item__image
                  img(src='/media/vagonkabrus_cache/91/06/910629f5994e38374c37855f313adcd7.jpg' alt='Деревянный декор')
                span.catalog-menu-item__name Деревянный декор
              a.catalog-menu-item(href='/catalog/elementy-lestnic/' title="Перейти на страницу раздела 'Элементы лестниц'")
                span.catalog-menu-item__image
                  img(src='/media/vagonkabrus_cache/20/b2/20b29673886ea3ef1b3bcd1bb29569a8.jpg' alt='Элементы лестниц')
                span.catalog-menu-item__name Элементы лестниц
            .item
              a.catalog-menu-item(href='/catalog/dveri-i-okna/' title="Перейти на страницу раздела 'Двери и окна'")
                span.catalog-menu-item__image
                  img(src='/media/vagonkabrus_cache/f5/1f/f51f0eb2e2764a446b214d543070a634.jpg' alt='Двери и окна')
                span.catalog-menu-item__name Двери и окна
              a.catalog-menu-item(href='/catalog/materialy-iz-lipy/' title="Перейти на страницу раздела 'Материалы из липы и абаши'")
                span.catalog-menu-item__image
                  img(src='/media/vagonkabrus_cache/46/70/4670e2b078e93bd3b2b3cbbb97b058db.jpg' alt='Материалы из липы и абаши')
                span.catalog-menu-item__name Материалы из липы и абаши
            .item
              a.catalog-menu-item(href='/catalog/materialy-iz-listvennicy/' title="Перейти на страницу раздела 'Материалы из лиственницы'")
                span.catalog-menu-item__image
                  img(src='/media/vagonkabrus_cache/34/08/3408eb6a5dbccc78ae73df6aaa1fac25.jpg' alt='Материалы из лиственницы')
                span.catalog-menu-item__name Материалы из лиственницы
              a.catalog-menu-item(href='/catalog/materialy-ih-osiny-i-abashi/' title="Перейти на страницу раздела 'Материалы из осины'")
                span.catalog-menu-item__image
                  img(src='/media/vagonkabrus_cache/5f/81/5f819dd99f980d31157b1fb3accc0597.jpg' alt='Материалы из осины')
                span.catalog-menu-item__name Материалы из осины
            .item
              a.catalog-menu-item(href='/catalog/fanera-osb-dsp-dvp-tssp/' title="Перейти на страницу раздела 'Фанера, ОСБ, ДСП, ДВП'")
                span.catalog-menu-item__image
                  img(src='/media/vagonkabrus_cache/44/5c/445cf48975b39af56b55c4ccdc928bfd.jpg' alt='Фанера, ОСБ, ДСП, ДВП')
                span.catalog-menu-item__name Фанера, ОСБ, ДСП, ДВП
              a.catalog-menu-item(href='/catalog/utepliteli/' title="Перейти на страницу раздела 'Утеплители'")
                span.catalog-menu-item__image
                  img(src='/media/vagonkabrus_cache/29/0b/290bb56d18fd2a039320e5f7dc05048c.jpg' alt='Утеплители')
                span.catalog-menu-item__name Утеплители
            .item
              a.catalog-menu-item(href='/catalog/rulonnie-izoliyzionnie-materialy/' title="Перейти на страницу раздела 'Рулонные изоляционные материалы'")
                span.catalog-menu-item__image
                  img(src='/media/vagonkabrus_cache/f8/b2/f8b2f8f0a1921cf459513c6dbf53707f.png' alt='Рулонные изоляционные материалы')
                span.catalog-menu-item__name Рулонные изоляционные материалы
              a.catalog-menu-item(href='/catalog/propitki-dlya-drevesiny/' title="Перейти на страницу раздела 'Пропитки для древесины'")
                span.catalog-menu-item__image
                  img(src='/media/vagonkabrus_cache/75/05/7505c5104c47d846a0dbab98c1d96eb9.jpg' alt='Пропитки для древесины')
                span.catalog-menu-item__name Пропитки для древесины
            .item
              a.catalog-menu-item(href='/catalog/derevyannye-igrushki/' title="Перейти на страницу раздела 'Деревянные игрушки'")
                span.catalog-menu-item__image
                  img(src='/media/vagonkabrus_cache/07/31/0731b9d7bb4c8cd30695b03a4b98b923.jpg' alt='Деревянные игрушки')
                span.catalog-menu-item__name Деревянные игрушки
        h2.mobile-center Удобные функции В2В 24/7
        .privilege-block
          .privilege-item(style='border-top: solid 3px #318F35;')
            span.privilege-item__title Калькулятор доставки
            p Откройте для себя наш удобный инструмент для расчета стоимости доставки
            a.btn-border.btn-border--lg(href='/cart/delivery_calculator/' style='background-color:#318F35; color:#fff; width:150px;') Рассчитать
          .privilege-item
            span.privilege-item__title Экономьте свое время
            p Выставите счет в корзине или отправьте запрос менеджеру в свободной форме
            a.btn-border.btn-border--lg(href='/cart/' style='background-color:#318F35; color:#fff; width:150px;') Получить счёт
            img(src='/media/uploads/logo_skl.png' alt='' style='margin-bottom: -87px;')
  
  section.conditional-section
    .container
      span.content-title.product-set-title.position-second.h2 Хиты продаж
      .product-slider
        .product-slider__banners.owl-carousel
          .item
            .product-item.product-item--banner
              a(href='https://vagonka-brus-doska.ru/catalog/materialy-iz-listvennicy/' title='АКЦИЯ ПЛАНКЕН ЛИСТВЕННИЦА')
                img.bnr-image-for-page(data-bnr-pk='4' src='/media/bnrs/images/%D0%B1%D0%B0%D0%BD%D0%BD%D0%B5%D1%80_%D0%B1%D0%BE%D0%BA%D0%BE%D0%B2%D0%BE%D0%B91_2.jpg' alt='АКЦИЯ ПЛАНКЕН ЛИСТВЕННИЦА')
          .item
            .product-item.product-item--banner
              a(href='https://vagonka-brus-doska.ru/catalog/materialy-iz-lipy/' title='АКЦИЯ ВАГОНКА ЛИПА')
                img.bnr-image-for-page(data-bnr-pk='5' src='/media/bnrs/images/%D0%B1%D0%B0%D0%BD%D0%BD%D0%B5%D1%80_%D0%B1%D0%BE%D0%BA%D0%BE%D0%B2%D0%BE%D0%B91_1.jpg' alt='АКЦИЯ ВАГОНКА ЛИПА')
          .item
            .product-item.product-item--banner
              a(href='https://vagonka-brus-doska.ru/catalog/materialy-iz-lipy/' title='АКЦИЯ ВАГОНКА ЛИПА')
                img.bnr-image-for-page(data-bnr-pk='5' src='/media/bnrs/images/%D0%B1%D0%B0%D0%BD%D0%BD%D0%B5%D1%80_%D0%B1%D0%BE%D0%BA%D0%BE%D0%B2%D0%BE%D0%B91_1.jpg' alt='АКЦИЯ ВАГОНКА ЛИПА')
        .product-slider.product-slider--3
          .owl-carousel
            .item
              .product-item
                a.product-item__link(href='/catalog/product/evrovagonka-khvoy-125-kh-97-10-17-m-sort-ab/')
                  span.product-item__image
                    img(src='/media/vagonkabrus_cache/8a/e0/8ae071a4d5f840cc98da8a382353226d.jpg' alt='Евровагонка (хвоя) 12,5 х 97 мм, 1.0-1.5 м, категория АВ')
                    span.product-item__flag-content
                      span.product-item__flag.product-item__flag--hit хит
                  span.product-item__content-top
                    span.product-item__head
                      span.product-item__art с00004
                      span.product-item__rating
                        span.star.star--empty
                        span.star.star--empty
                        span.star.star--empty
                        span.star.star--empty
                        span.star.star--empty
                    span.product-item__name Евровагонка (хвоя) 12,5 х 97 мм, 1.0-1.5 м, категория АВ
                    .product-item__status.product-item__status--many
                      | Кол-во: много
                    span.product-item__cost
                      span.product-item__cost-product
                        | 19,00
                        span  ₽/п.м.
                .product-item__content-bottom
                  .product-item__btns
                    .shopping-cart-product
                      .input-number
                        .order-down
                        input#number(type='number' min='0' step='1' value='1' required='')
                        .order-up
                      a.shopping-cart-btn.add-to-cart(href='/cart/add/3557')
                        svg.icon
                          use(xlink:href='#shopping-cart')
              .product-item
                a.product-item__link(href='/catalog/product/blok-khaus-khvoy-22-kh-98-2-6-m-sort-ab/')
                  span.product-item__image
                    img(src='/media/vagonkabrus_cache/b2/85/b285644cfac3b113691fc8d347fd996d.jpg' alt='Блок Хаус (хвоя) 22 х 98 мм, 2-6 м, категория АВ')
                    span.product-item__flag-content
                      span.product-item__flag.product-item__flag--hit хит
                  span.product-item__content-top
                    span.product-item__head
                      span.product-item__art с00018
                      span.product-item__rating
                        span.star.star--empty
                        span.star.star--empty
                        span.star.star--empty
                        span.star.star--empty
                        span.star.star--empty
                    span.product-item__name Блок Хаус (хвоя) 22 х 98 мм, 2-6 м, категория АВ
                    .product-item__status.product-item__status--many
                      | Кол-во: много
                    span.product-item__cost
                      span.product-item__cost-product
                        | 44,00
                        span  ₽/п.м.
                .product-item__content-bottom
                  .product-item__btns
                    .shopping-cart-product
                      .input-number
                        .order-down
                        input#number(type='number' min='0' step='1' value='1' required='')
                        .order-up
                      a.shopping-cart-btn.add-to-cart(href='/cart/add/3571')
                        svg.icon
                          use(xlink:href='#shopping-cart')
            .item
              .product-item
                a.product-item__link(href='/catalog/product/vagonka-lipa-16-kh-98-10-15-m-sort-bc/')
                  span.product-item__image
                    img(src='/media/vagonkabrus_cache/61/cc/61cc61dfb4575ac47eee9cd013028272.png' alt='Вагонка (липа) 16 х 98 мм, 1-1.5 м, категория BC')
                    span.product-item__flag-content
                      span.product-item__flag.product-item__flag--hit хит
                  span.product-item__content-top
                    span.product-item__head
                      span.product-item__art с00014
                      span.product-item__rating
                        span.star.star--empty
                        span.star.star--empty
                        span.star.star--empty
                        span.star.star--empty
                        span.star.star--empty
                    span.product-item__name Вагонка (липа) 16 х 98 мм, 1-1.5 м, категория BC
                    .product-item__status.product-item__status--many
                      | Кол-во: много
                    span.product-item__cost
                      span.product-item__cost-product
                        | 40,00
                        span  ₽/п.м.
                .product-item__content-bottom
                  .product-item__btns
                    .shopping-cart-product
                      .input-number
                        .order-down
                        input#number(type='number' min='0' step='1' value='1' required='')
                        .order-up
                      a.shopping-cart-btn.add-to-cart(href='/cart/add/3567')
                        svg.icon
                          use(xlink:href='#shopping-cart')
              .product-item
                a.product-item__link(href='/catalog/product/doska-pola-khvoia-21kh98-mm-30-60-m-kategoria-av/')
                  span.product-item__image
                    img(src='/media/vagonkabrus_cache/dd/38/dd38831b127172d815e3733a8134b14e.jpg' alt='Доска пола (хвоя) 21 х 98 мм, 3-6 м, категория АВ')
                    span.product-item__flag-content
                      span.product-item__flag.product-item__flag--hit хит
                  span.product-item__content-top
                    span.product-item__head
                      span.product-item__art с0028
                      span.product-item__rating
                        span.star.star--empty
                        span.star.star--empty
                        span.star.star--empty
                        span.star.star--empty
                        span.star.star--empty
                    span.product-item__name Доска пола (хвоя) 21 х 98 мм, 3-6 м, категория АВ
                    .product-item__status.product-item__status--many
                      | Кол-во: много
                    span.product-item__cost
                      span.product-item__cost-product
                        | 44,00
                        span  ₽/п.м.
                .product-item__content-bottom
                  .product-item__btns
                    .shopping-cart-product
                      .input-number
                        .order-down
                        input#number(type='number' min='0' step='1' value='1' required='')
                        .order-up
                      a.shopping-cart-btn.add-to-cart(href='/cart/add/3576')
                        svg.icon
                          use(xlink:href='#shopping-cart')
            .item
              .product-item
                a.product-item__link(href='/catalog/product/brevno-ozilindrovannoe-el-sosna-180-mm-lunniy-paz/')
                  span.product-item__image
                    img(src='/media/vagonkabrus_cache/eb/7f/eb7f939900dbaa333213c681c5ca618b.jpg' alt='Бревно оцилиндрованное (ель, сосна) 180 мм, Лунный паз')
                    span.product-item__flag-content
                      span.product-item__flag.product-item__flag--hit хит
                  span.product-item__content-top
                    span.product-item__head
                      span.product-item__art с0303
                      span.product-item__rating
                        span.star.star--empty
                        span.star.star--empty
                        span.star.star--empty
                        span.star.star--empty
                        span.star.star--empty
                    span.product-item__name Бревно оцилиндрованное (ель, сосна) 180 мм, Лунный паз
                    .product-item__status.product-item__status--many
                      | Кол-во: много
                    span.product-item__cost
                      span.product-item__cost-product
                        | 9500,00
                        span  ₽/м3
                .product-item__content-bottom
                  .product-item__btns
                    .shopping-cart-product
                      .input-number
                        .order-down
                        input#number(type='number' min='0' step='1' value='1' required='')
                        .order-up
                      a.shopping-cart-btn.add-to-cart(href='/cart/add/3873')
                        svg.icon
                          use(xlink:href='#shopping-cart')
              .product-item
                a.product-item__link(href='/catalog/product/imitacia-brusa-vagonka-shtil-khvoya-125kh-118-20-50-m-sort-bc/')
                  span.product-item__image
                    img(src='/media/vagonkabrus_cache/dc/7a/dc7a6e5e3dc38c4007c812bef8b65aef.jpg' alt='Имитация бруса - вагонка "штиль" (хвоя) 12,5 х 118 мм, 2-5 м, категория ВС')
                    span.product-item__flag-content
                      span.product-item__flag.product-item__flag--hit хит
                  span.product-item__content-top
                    span.product-item__head
                      span.product-item__art с0188
                      span.product-item__rating
                        span.star.star--empty
                        span.star.star--empty
                        span.star.star--empty
                        span.star.star--empty
                        span.star.star--empty
                    span.product-item__name Имитация бруса - вагонка "штиль" (хвоя) 12,5 х 118 мм, 2-5 м, категория ВС
                    .product-item__status.product-item__status--many
                      | Кол-во: много
                    span.product-item__cost
                      span.product-item__cost-product
                        | 22,00
                        span  ₽/п.м.
                .product-item__content-bottom
                  .product-item__btns
                    .shopping-cart-product
                      .input-number
                        .order-down
                        input#number(type='number' min='0' step='1' value='1' required='')
                        .order-up
                      a.shopping-cart-btn.add-to-cart(href='/cart/add/3738')
                        svg.icon
                          use(xlink:href='#shopping-cart')
            .item
              .product-item
                a.product-item__link(href='/catalog/product/brus-sukhoi-stroganniy-20kh30-mm-2-3-m-kategoria-av/')
                  span.product-item__image
                    img(src='/media/vagonkabrus_cache/28/2d/282df9bf50b0507cc39d5bdf21e09572.jpg' alt='Брус сухой строганый 20 х 30 мм, 2 - 3 м, категория АВ')
                    span.product-item__flag-content
                      span.product-item__flag.product-item__flag--hit хит
                  span.product-item__content-top
                    span.product-item__head
                      span.product-item__art с0033
                      span.product-item__rating
                        span.star.star--empty
                        span.star.star--empty
                        span.star.star--empty
                        span.star.star--empty
                        span.star.star--empty
                    span.product-item__name Брус сухой строганый 20 х 30 мм, 2 - 3 м, категория АВ
                    .product-item__status.product-item__status--many
                      | Кол-во: много
                    span.product-item__cost
                      span.product-item__cost-product
                        | 12,00
                        span  ₽/п.м.
                .product-item__content-bottom
                  .product-item__btns
                    .shopping-cart-product
                      .input-number
                        .order-down
                        input#number(type='number' min='0' step='1' value='1' required='')
                        .order-up
                      a.shopping-cart-btn.add-to-cart(href='/cart/add/3581')
                        svg.icon
                          use(xlink:href='#shopping-cart')
              .product-item
                a.product-item__link(href='/catalog/product/doska-obreznay-50kh150-200-mm-6-m-kategoria-1-2/')
                  span.product-item__image
                    img(src='/media/vagonkabrus_cache/25/c8/25c841c2bac8a7e73b0124d629c40453.jpg' alt='Доска обрезная 50 х (150, 200) мм, 6 м, категория 1-2')
                    span.product-item__flag-content
                  span.product-item__content-top
                    span.product-item__head
                      span.product-item__art с0214
                      span.product-item__rating
                        span.star.star--empty
                        span.star.star--empty
                        span.star.star--empty
                        span.star.star--empty
                        span.star.star--empty
                    span.product-item__name Доска обрезная 50 х (150, 200) мм, 6 м, категория 1-2
                    .product-item__status.product-item__status--many
                      | Кол-во: много
                    span.product-item__cost
                      span.product-item__cost-product
                        | 10500,00
                        span  ₽/м3
                .product-item__content-bottom
                  .product-item__btns
                    .shopping-cart-product
                      .input-number
                        .order-down
                        input#number(type='number' min='0' step='1' value='1' required='')
                        .order-up
                      a.shopping-cart-btn.add-to-cart(href='/cart/add/3765')
                        svg.icon
                          use(xlink:href='#shopping-cart')
          .btn-center.mobile-show
            a.btn-download.btn-download-1
              span.icon
                img(src='/static/images/download-productions.svg' alt='')
              | Ещё
  
  section.conditional-section.conditional-section_bg(style=`background-image:url("${href}/img/dd.jpg");`)
    img(src=`${href}/img/dd.jpg`, alt="image")
    .container 
      span.content-title.product-set-title.h2 Распродажа
      .product-slider.product-slider--4
        .owl-carousel
          .item
            .product-item
              a.product-item__link(href='/catalog/product/vagonka-lipa-16-kh-98-10-15-m-sort-bc/')
                span.product-item__image
                  img(src='/media/vagonkabrus_cache/61/cc/61cc61dfb4575ac47eee9cd013028272.png' alt='Вагонка (липа) 16 х 98 мм, 1-1.5 м, категория BC')
                  span.product-item__flag-content
                    span.product-item__flag.product-item__flag--hit хит
                span.product-item__content-top
                  span.product-item__head
                    span.product-item__art с00014
                    span.product-item__rating
                      span.star.star--empty
                      span.star.star--empty
                      span.star.star--empty
                      span.star.star--empty
                      span.star.star--empty
                  span.product-item__name Вагонка (липа) 16 х 98 мм, 1-1.5 м, категория BC
                  .product-item__status.product-item__status--many
                    | Кол-во: много
                  span.product-item__cost
                    span.product-item__cost-product
                      | 40,00
                      span  ₽/п.м.
              .product-item__content-bottom
                .product-item__btns
                  .shopping-cart-product
                    .input-number
                      .order-down
                      input#number(type='number' min='0' step='1' value='1' required='')
                      .order-up
                    a.shopping-cart-btn.add-to-cart(href='/cart/add/3567')
                      svg.icon
                        use(xlink:href='#shopping-cart')
          .item
            .product-item
              a.product-item__link(href='/catalog/product/evrovagonka-khvoy-125-kh-97-10-15-m-sort-c/')
                span.product-item__image
                  img(src='/media/vagonkabrus_cache/e7/1e/e71e5a5fb4a181ec3dc66fdb097ca058.jpg' alt='Евровагонка (хвоя) 12,5 х 97 мм, 1.0-1.5 м, категория C')
                  span.product-item__flag-content
                    span.product-item__flag.product-item__flag--hit хит
                span.product-item__content-top
                  span.product-item__head
                    span.product-item__art с00008
                    span.product-item__rating
                      span.star.star--empty
                      span.star.star--empty
                      span.star.star--empty
                      span.star.star--empty
                      span.star.star--empty
                  span.product-item__name Евровагонка (хвоя) 12,5 х 97 мм, 1.0-1.5 м, категория C
                  .product-item__status.product-item__status--many
                    | Кол-во: много
                  span.product-item__cost
                    span.product-item__cost-product
                      | 13,00
                      span  ₽/п.м.
              .product-item__content-bottom
                .product-item__btns
                  .shopping-cart-product
                    .input-number
                      .order-down
                      input#number(type='number' min='0' step='1' value='1' required='')
                      .order-up
                    a.shopping-cart-btn.add-to-cart(href='/cart/add/3561')
                      svg.icon
                        use(xlink:href='#shopping-cart')
          .item
            .product-item
              a.product-item__link(href='/catalog/product/imitacia-brusa-vagonka-shtil-khvoya-125kh-118-20-50-m-sort-bc/')
                span.product-item__image
                  img(src='/media/vagonkabrus_cache/dc/7a/dc7a6e5e3dc38c4007c812bef8b65aef.jpg' alt='Имитация бруса - вагонка "штиль" (хвоя) 12,5 х 118 мм, 2-5 м, категория ВС')
                  span.product-item__flag-content
                    span.product-item__flag.product-item__flag--hit хит
                span.product-item__content-top
                  span.product-item__head
                    span.product-item__art с0188
                    span.product-item__rating
                      span.star.star--empty
                      span.star.star--empty
                      span.star.star--empty
                      span.star.star--empty
                      span.star.star--empty
                  span.product-item__name Имитация бруса - вагонка "штиль" (хвоя) 12,5 х 118 мм, 2-5 м, категория ВС
                  .product-item__status.product-item__status--many
                    | Кол-во: много
                  span.product-item__cost
                    span.product-item__cost-product
                      | 22,00
                      span  ₽/п.м.
              .product-item__content-bottom
                .product-item__btns
                  .shopping-cart-product
                    .input-number
                      .order-down
                      input#number(type='number' min='0' step='1' value='1' required='')
                      .order-up
                    a.shopping-cart-btn.add-to-cart(href='/cart/add/3738')
                      svg.icon
                        use(xlink:href='#shopping-cart')
          .item
            .product-item
              a.product-item__link(href='/catalog/product/brevno-ozilindrovannoe-el-sosna-180-mm-lunniy-paz/')
                span.product-item__image
                  img(src='/media/vagonkabrus_cache/eb/7f/eb7f939900dbaa333213c681c5ca618b.jpg' alt='Бревно оцилиндрованное (ель, сосна) 180 мм, Лунный паз')
                  span.product-item__flag-content
                    span.product-item__flag.product-item__flag--hit хит
                span.product-item__content-top
                  span.product-item__head
                    span.product-item__art с0303
                    span.product-item__rating
                      span.star.star--empty
                      span.star.star--empty
                      span.star.star--empty
                      span.star.star--empty
                      span.star.star--empty
                  span.product-item__name Бревно оцилиндрованное (ель, сосна) 180 мм, Лунный паз
                  .product-item__status.product-item__status--many
                    | Кол-во: много
                  span.product-item__cost
                    span.product-item__cost-product
                      | 9500,00
                      span  ₽/м3
              .product-item__content-bottom
                .product-item__btns
                  .shopping-cart-product
                    .input-number
                      .order-down
                      input#number(type='number' min='0' step='1' value='1' required='')
                      .order-up
                    a.shopping-cart-btn.add-to-cart(href='/cart/add/3873')
                      svg.icon
                        use(xlink:href='#shopping-cart')
          .item
            .product-item
              a.product-item__link(href='/catalog/product/blok-khaus-khvoy-22-kh-98-2-6-m-sort-ab/')
                span.product-item__image
                  img(src='/media/vagonkabrus_cache/b2/85/b285644cfac3b113691fc8d347fd996d.jpg' alt='Блок Хаус (хвоя) 22 х 98 мм, 2-6 м, категория АВ')
                  span.product-item__flag-content
                    span.product-item__flag.product-item__flag--hit хит
                span.product-item__content-top
                  span.product-item__head
                    span.product-item__art с00018
                    span.product-item__rating
                      span.star.star--empty
                      span.star.star--empty
                      span.star.star--empty
                      span.star.star--empty
                      span.star.star--empty
                  span.product-item__name Блок Хаус (хвоя) 22 х 98 мм, 2-6 м, категория АВ
                  .product-item__status.product-item__status--many
                    | Кол-во: много
                  span.product-item__cost
                    span.product-item__cost-product
                      | 44,00
                      span  ₽/п.м.
              .product-item__content-bottom
                .product-item__btns
                  .shopping-cart-product
                    .input-number
                      .order-down
                      input#number(type='number' min='0' step='1' value='1' required='')
                      .order-up
                    a.shopping-cart-btn.add-to-cart(href='/cart/add/3571')
                      svg.icon
                        use(xlink:href='#shopping-cart')
        .btn-center.mobile-show
          a.btn-download.btn-download-2
            span.icon
              img(src='/static/images/download-productions.svg' alt='')
            | Ещё
  
  section.banner-items-section.conditional-section
    .container
      .grid
        include blocks/cards
        +card4(1, 'grid__block')
        +card4(2, 'grid__block')
        +card4(2, 'grid__block')

  section.conditional-section
    .container
      .clients-section
        a(href='#' style=`background-image:url("${href}/img/image 56.png");`).client-item.client-item_bg
          span.client-item__text Реквизиты
        a(href='#').client-item
          span.client-item__text Реквизиты
        a(href='#').client-item
          span.client-item__text Реквизиты
        a(href='#').client-item
          span.client-item__text Реквизиты

  section.conditional-section.conditional-section_bg(style='background-color:#e1e1e1;')
    .container
      span.content-title.h2 Новости и акции
      .action-slider
        .owl-carousel
          .item
            a.action-item(href='/news/promo/rasprodazha-evrovagonki/' title='&nbsp;\
            Низкая цена на евровагонку')
              span.action-item__image
                img(src='/media/vagonkabrus_cache/91/ba/91baaea9fdd872c5d2fbfc5b527a7c24.png' alt='РАСПРОДАЖА ЕВРОВАГОНКИ')
              span.action-item__content
                span.action-item__type.action-item__type--action
                  span Акция
                span.action-item__title РАСПРОДАЖА ЕВРОВАГОНКИ
          .item
            a.action-item(href='/news/promo/rasprodazha-vagonki-iz-lipy/' title='РАСПРОДАЖА ВАГОНКИ ИЗ ЛИПЫ')
              span.action-item__image
                img(src='/media/vagonkabrus_cache/9a/d5/9ad5dcbf6203454c80294bff6680e2e4.png' alt='РАСПРОДАЖА ВАГОНКИ ИЗ ЛИПЫ')
              span.action-item__content
                span.action-item__type.action-item__type--action
                  span Акция
                span.action-item__title РАСПРОДАЖА ВАГОНКИ ИЗ ЛИПЫ
          .item
            a.action-item(href='/news/promo/eko-akciya-na-listvennicu/' title='ЭКО АКЦИЯ НА ПЛАНКЕТ&nbsp;ЛИСТВЕННИЦА\
            &nbsp;\
            &nbsp;')
              span.action-item__image
                img(src='/media/vagonkabrus_cache/63/c9/63c983ba5b7c68f4683bb8bf1e579889.png' alt='ЭКО АКЦИЯ НА ЛИСТВЕННИЦУ')
              span.action-item__content
                span.action-item__type.action-item__type--action
                  span Акция
                span.action-item__title ЭКО АКЦИЯ НА ЛИСТВЕННИЦУ
          .item
            a.action-item(href='/news/promo/super-akciya-na-evrovagonku-kategorii-av-4m/' title='СУПЕР АКЦИЯ НА ЕВРОВАГОНКУ КАТЕГОРИИ АВ 4М')
              span.action-item__image
                img(src='/media/vagonkabrus_cache/16/8d/168da1312b310aba99a35bf75a21e923.png' alt='АКЦИЯ НА ЕВРОВАГОНКУ КАТЕГОРИИ АВ 4М')
              span.action-item__content
                span.action-item__type.action-item__type--action
                  span Акция
                span.action-item__title АКЦИЯ НА ЕВРОВАГОНКУ КАТЕГОРИИ АВ 4М
          .item
            a.action-item(href='/news/promo/akicya-na-terrasnuy-dosku/' title='СУПЕР АКЦИЯ НА ТЕРРАСНУЮ ДОСКУ&nbsp;ЛИСТВЕННИЦА 190 РУБЛЕЙ М.П.')
              span.action-item__image
                img(src='/media/vagonkabrus_cache/47/5c/475c32bcb01fa2c692e0fe0a8db887e8.png' alt='СУПЕР АКЦИЯ НА ТЕРРАСНУЮ ДОСКУ ЛИСТВЕННИЦА 190 РУБЛЕЙ М.П.')
              span.action-item__content
                span.action-item__type.action-item__type--action
                  span Акция
                span.action-item__title СУПЕР АКЦИЯ НА ТЕРРАСНУЮ ДОСКУ ЛИСТВЕННИЦА 190 РУБЛЕЙ М.П.
          .item
            a.action-item(href='/news/promo/novost-nomer-1/' title='СУПЕР АКЦИЯ ЕВРОВАГОНКА АB, &nbsp;0,125 х0,90 х 4,0&nbsp; ЦЕНА 26 РУБЛЕЙ')
              span.action-item__image
                img(src='/media/vagonkabrus_cache/7b/e5/7be5a1b64c600e8edac24a56cf84bcc4.png' alt='СУПЕР АКЦИЯ - ЕВРОВАГОНКА АB,  ПО ЦЕНЕ 26 РУБЛЕЙ')
              span.action-item__content
                span.action-item__type.action-item__type--action
                  span Акция
                span.action-item__title СУПЕР АКЦИЯ - ЕВРОВАГОНКА АB,  ПО ЦЕНЕ 26 РУБЛЕЙ
          .item
            a.action-item(href='/news/promo/akicya-na-vagonku-shtil/' title='АКЦИЯ ВАГОНКА ШТИЛЬ АВ,&nbsp;12,5 мм х 112 мм х2.0, ЦЕНА 33 РУБ.')
              span.action-item__image
                img(src='/media/vagonkabrus_cache/1a/23/1a23b07fec69c76f04b738a4ee703eb5.png' alt='АКЦИЯ - ВАГОНКА ШТИЛЬ АВ, ПО ЦЕНЕ 33 РУБЛЯ')
              span.action-item__content
                span.action-item__type.action-item__type--action
                  span Акция
                span.action-item__title АКЦИЯ - ВАГОНКА ШТИЛЬ АВ, ПО ЦЕНЕ 33 РУБЛЯ
      
  section.conditional-section
    .container
      span.content-title.h2 Статьи
      .news-slider
        .owl-carousel
          .item
            a.new-slide-item.new-slide-item--bg-1(href='/articles/kreditovanie-po-nizkoj-stavke/')
              span.new-slide-item__image.new-slide-item__image--picture
                img(src='/media/vagonkabrus_cache/c7/15/c715f98dd287f0396b2d30b3562e2e3d.png' alt='Выгодные условия')
              span.new-slide-item__content
                span.new-slide-item__title Выгодно
                span.new-slide-item__name Кредитование по низкой ставке
          .item
            a.new-slide-item.new-slide-item--bg-2(href='/articles/modernizaciya-skladskih-pomeshenij/')
              span.new-slide-item__image.new-slide-item__image--picture
                img(src='/media/vagonkabrus_cache/df/8b/df8b88ac94b7158bf76d8d78df60b91a.jpg' alt='Расширение складских площадей')
              span.new-slide-item__content
                span.new-slide-item__title Полезная информация
                span.new-slide-item__name Расширение складских площадей
          .item
            a.new-slide-item.new-slide-item--bg-3(href='/articles/pro-reklamnye-bannera/')
              span.new-slide-item__image.new-slide-item__image--picture
                img(src='/media/vagonkabrus_cache/86/c9/86c97b36ffc37dc8ecee14ace7e719cf.jpg' alt='Статья: Евровагонка в интерьере')
              span.new-slide-item__content
                span.new-slide-item__title Лайфхак
                span.new-slide-item__name Евровагонка в интерьере
          .item
            a.new-slide-item.new-slide-item--bg-1(href='/articles/pravda-i-mify-o-terrasnoj-doske/')
              span.new-slide-item__image.new-slide-item__image--picture
                img(src='/media/vagonkabrus_cache/66/fc/66fc5b0f62d4fd2ed2427e409cc4b176.jpg' alt='Правда и мифы о террасной доске')
              span.new-slide-item__content
                span.new-slide-item__title Возможно Вы не знали...
                span.new-slide-item__name Правда и мифы о террасной доске
          .item
            a.new-slide-item.new-slide-item--bg-2(href='/articles/novinki-sezona/')
              span.new-slide-item__image.new-slide-item__image--picture
                img(src='/media/vagonkabrus_cache/4e/88/4e88b3abe8fe194f14afbb84cb762bd7.jpg' alt='Наружная обшивка дома - Блок Хаусом')
              span.new-slide-item__content
                span.new-slide-item__title Полезная информация
                span.new-slide-item__name Наружная обшивка дома - Блок Хаусом
          .item
            a.new-slide-item.new-slide-item--bg-3(href='/articles/kak-krasit-faneru/')
              span.new-slide-item__image.new-slide-item__image--picture
                img(src='/media/vagonkabrus_cache/92/02/9202fc929a9085e4b01dcdee87350b80.jpg' alt='Интересные факты о лестницах')
              span.new-slide-item__content
                span.new-slide-item__title Интересные факты
                span.new-slide-item__name Интересные факты о лестницах
          .item
            a.new-slide-item.new-slide-item--bg-1(href='/articles/dekorativnaya-otdelka-pilomaterialom/')
              span.new-slide-item__image.new-slide-item__image--picture
                img(src='/media/vagonkabrus_cache/00/5a/005a21d263830f810fd76e7f856652bd.jpg' alt='Дверь филенчатая из массива древесины\
                &nbsp;')
              span.new-slide-item__content
                span.new-slide-item__title Интересные подробности
                span.new-slide-item__name Дверь филенчатая из массива древесины
          .item
            a.new-slide-item.new-slide-item--bg-2(href='/articles/cepochki-postavok/')
              span.new-slide-item__image.new-slide-item__image--picture
                img(src='/media/vagonkabrus_cache/a7/eb/a7eb1c23fdd01acbfeca73f3a125dfe1.jpg' alt='Укладка половой доски')
              span.new-slide-item__content
                span.new-slide-item__title Лайфхак
                span.new-slide-item__name Укладка половой доски
      
  section.conditional-section.text-page
    .container
      .text-padding
        h1 Евровагонка, блокхаус, имитация бруса - лучшая цена в Самаре на SLKMARKET.RU
        p
          | Пиломатериалы изготавливаемые из различных пород дерева, имеют широкую сферу применения, и используются практически во всех сферах, как промышленного, так и гражданского назначения. Древесина обладает целым рядом преимуществ - основными из которых являются экологичность, высокая прочность, легкость в обработке, износоустойчивость и длительный период эксплуатации.
        p
          | Северная Лесная Компания на протяжении 20 лет осуществляет успешную деятельность по продажам всех видов пиломатериалов. Самарский отдел продаж СЛК познакомил людей с таким понятием как евростандарт евровагонка, европол, евро баня, евроремонт и т.д. В конце 90-х годов было модно все что имело стильный вид и отличалось от стандартов СССР - называть с приставкой “Евро”.
        p
          | В настоящее время Компания реализует обширный ассортимент продукции, которая пользуется большим спросом на рынке строительных материалов.
        h3 Одними из самых востребованных из продаваемых пиломатериалов являются:
        ul
          li
            p
              | Евровагонка - представляет собой отделочный материал с пазами на торцевой части панели, предназначенными для плотного соединения между собой. Изготавливается из многих пород древесины (сосна, лиственница, липа и пр.), в связи с чем находит себе применение при облицовке помещений различного назначения.
          li
            p
              | Блок Хаус - “классика” не выходящая из моды. Это специально обработанные доски, оснащенные продольными пазами, а лицевая сторона Хаус - панели имитирует натуральное бревно.
          li
            p
              | Имитация бруса - обшивочная доска, внешне напоминающая вагонку, большего размера, но с более тщательной обработкой лицевой поверхности. Часто используют при обшивке фасадов,  для придания неповторимого декора постройке.
          li
            p
              | Доска пола - массивные строганные доски из древесины лиственных и хвойных пород. Для облегчения монтажа, доска имеет замковое соединение по типу «шип-паз» или шпунт.
          li
            p
              | Доска и брус.  Доска является самым востребованным строительным материалом (независимо от ее вида - обрезная, необрезная или строганная), так как без нее не обходится ни одно строительство. Брус чаще используют для сооружений несущих конструкций. Каждый из видов находит применение как в строительных работах, так и при отделке помещений. Пиломатериал производятся путем продольного распиливания бревна.
        p
          | Популярность древесины не уменьшается уже довольно длительное время, и это связано в первую очередь с тем, что она не оказывает негативного воздействия на человека и окружающую среду. Производят пиломатериал по нескольким градациям. По общепринятой классификации древесина, в зависимости от ее качества и наличия дефектов, разделяется на следующие сорта: Отборный, первый, второй, третий и четвертый.
        p
          | Северная Лесная Компания также реализует большое количество Изделий из дерева разных пород. К ним относятся - двери (филенчатые входные из массива древесины, межкомнатные и банные), лестничные конструкции, оконные блоки и прочие товары.
        p
          | Продукцию компании можно купить по доступным ценам, без дополнительных наценок. Регулярно проводятся Акции, а оформив заявку на покупку товаров через Сайт  компании - можно оформить доставку и сэкономить достаточно времени.
        h6
          img(alt='' src='/media/uploads/2020/08/12/fbbzrq.jpg')
          |    Воспользуйтесь преимуществами сайта!
        p  
        p  
  
  section.section
    .container.text-page
      .partners-slider
        span.content-title.center.h2 Наши партнеры
        .owl-carousel
          .item
            a(href='https://ru.kronospan-express.com/ru' title='Кроношпан')
              img(src='/media/slides/partner_slides/%D0%9A%D1%80%D0%BE%D0%BD%D0%BE%D1%88%D0%BF%D0%B0%D0%BD_d0p6mf6.jpg' alt='Кроношпан')
          .item
            a(href='https://www.tn.ru/' title='Технониколь')
              img(src='/media/slides/partner_slides/%D0%A2%D0%B5%D1%85%D0%BD%D0%BE%D0%BD%D0%B8%D0%BA%D0%BE%D0%BB%D1%8C.jpg' alt='Технониколь')
          .item
            a(href='https://www.psbank.ru/' title='ПросвязьБанк')
              img(src='/media/slides/partner_slides/%D0%9F%D1%80%D0%BE%D0%BC%D0%A1%D0%B2%D1%8F%D0%B7%D1%8C%D0%91%D0%B0%D0%BD%D0%BA_DtnFx8A.jpg' alt='ПросвязьБанк')
          .item
            a(href='https://www.penoplex.ru/' title='Пеноплекс')
              img(src='/media/slides/partner_slides/Frame_20.jpg' alt='Пеноплекс')
          .item
            a(href='https://www.izostroy.info/' title='Изострой')
              img(src='/media/slides/partner_slides/Frame_105_1.png' alt='Изострой')
          .item
            a(href='https://vagonka-brus-doska.ru/articles/kreditovanie-po-nizkoj-stavke/' title='Почта банк')
              img(src='/media/slides/partner_slides/Frame_136.png' alt='Почта банк')
          .item
            a(href='http://stroyker.pro' title='Стройкер')
              img(src='/media/slides/partner_slides/%D0%A1%D1%82%D1%80%D0%BE%D0%B9%D0%BA%D0%B5%D1%80.jpg' alt='Стройкер')
  
  section.conditional-section.conditional-section_bg
    img(src='/media/customization/images/fonaSLKniz_1.svg')
    .address-data(data-icon-content='ГЛАВНЫЙ ОФИС "СЛК"' data-hint-content='443016, г. Самара, ул. Ставропольская, 74' data-latitude='53.218449' data-longitude='50.223550')
    .address-data(data-icon-content='Ракитовский склад пиломатериалов "СЛК"' data-hint-content='г. Самара, Ракитовское шоссе 2, стр. 1, Склад «Северная Лесная Компания»' data-latitude='53.272241' data-longitude='50.270244')
    #yamap_addresses.wide-map(data-center-latitude='53.202160' data-center-longitude='50.159618' data-center-zoom='10.000000')

  section.section-dark.feedback-form
    .container
      #question-main.question-main
        .question-form
          span.content-title.center.h2 Остались вопросы?
          form#feedback-message-request-form(action='/crm/message/' method='post')
            input(type='hidden' name='csrfmiddlewaretoken' value='JMTmu6iD5hl6S3oUKWHjYJQgToPWE3aNzxANFFHEDe2R8gwU8q4mQcJD38fiC4Uw')
            .question-form__column
              .form-group
                input.form-control(type='text' name='name' autocomplete='off' required='')
                label.label-name(for='name')
                  span.content-name
                    | Имя*
              .form-group
                input.form-control.phone(type='phone' name='phone' autocomplete='off' required='')
                label.label-name(for='phone')
                  span.content-name
                    | Телефон
              .form-group
                input.form-control(type='mail' name='email' autocomplete='off' required='')
                label.label-name(for='text')
                  span.content-name
                    | e-mail
            .question-form__column
              .form-group
                textarea.form-control(name='message' autocomplete='off' required='')
                label.label-name(for='message')
                  span.content-name
                    | Комментарий
              input#id_url(type='hidden' name='url')
              button.btn.btn--main-min(type='submit') Отправить
          p
            | Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с нашей политикой конфиденциальности
  