extends layout/layout
block content
  include blocks/breadcrumbs
  .container
    section.section.row.justify-content-center
      .col-12
        img(src='https://bunnylove.ru/media/_versions/%D0%BA%D0%BE%D0%BF%D0%B8%D1%8F_(2)_(1)_large.png', alt="image").article-image-head
      .col-xl-9
        h1.section__title H1 36/45 На старт, внимание, БДСМЯ  или 5 способов улучшить сексуальную жизнь в паре
        figure
          img(src=href+"/img/Rectangle 48.jpg", alt="image")
          figcaption Тут писать источник фото
        p К сожалению, нередко в длительных отношениях 
          a(href="#") секс 
          | становится скучным и однообразым. Одному из партнеров все реже хочется близости. И вот секс в вашей жизни случается все реже и реже. Мы подобрали для вас 5 способов, которые помогут улучшить вашу сексуальную жизнь с партнером.
        h2 H2 32/40 Пусть даже в стране БДСМ царит демократия, и вы с партнером можете придумать свои принципы
        h3 H3 32/40 Мы подобрали лучшие девайсы для начинающих для безопасных БДСМ-практик
        h4 H4 24/30 безобидный аксессуар может доставить вполне ощутимую боль
        h5 H5 20/28 во время сенсорной депривации будьте в постоянном тактильном контакте с партнером, не отстраняясь ни на минуту
        h6 H6 18/24 во время сенсорной депривации будьте в постоянном тактильном контакте с партнером, не отстраняясь ни на минуту
        p Классификация ролей тоже вполне понятная по принципу «верха» и «низа». Если вы предпочитаете подчиняться и принадлежать, тогда вы нижний, а если все наоборот, то вы представитель верхнего позиционирования. Есть и те, кто могут менять свою позицию. Так называемые «переключатели».
        p Если речь про СМ, то садист - верхний, а мазохист нижний. Могут быть и самостоятельные СМ-практики, тогда С и М равны, просто одному нравится причинять боль, а другому испытывать. Однако чаще всего СМ - это все-таки система доминантно-сабмиссивных отношений, когда садист - это верх, а мазохист - это низ.
        h3 Про безопасность, добровольность, разумность
        p Пусть даже в стране БДСМ царит демократия, и вы с партнером можете придумать свои принципы и законы, все-таки есть что-то наподобие конституции. Это принцип БДР (безопасность, добровольность, разумность). Все ваши взаимные действия должны быть согласованы, не содержать какой-либо опасности и принуждения.
        ul
          li массажные свечи
          li масла
          li массажная свеча Island Blossoms
        p Пусть даже в стране БДСМ царит демократия, и вы с партнером можете придумать свои принципы и законы, все-таки есть что-то наподобие конституции. Это принцип БДР (безопасность, добровольность, разумность). Все ваши взаимные действия должны быть согласованы, не содержать какой-либо опасности и принуждения.
        h4 Наручники
        p Классификация ролей тоже вполне понятная по принципу «верха» и «низа». Если вы предпочитаете подчиняться и принадлежать, тогда вы нижний, а если все наоборот, то вы представитель верхнего позиционирования. Есть и те, кто могут менять свою позицию.
        .tabs__item.active
          .related_products_mobile.related-products
            ul.cart-slider
              li
                .related_product
                  .new-card.new-card-type-catalog.new-card-type-disabled
                    .new-card__labels
                    .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/196682/')
                      svg.new-phone__icon.new-phone__icon-type-loop
                        use(xlink:href='#loopIcon')
                      img.new-card__img(src='/media/cache/f8/5e/f85e9b0aed20acdf17f07adac46d7fe2.jpg', width='130', height='130', alt='БИОКЛОН Вибратор реалистичный, 29 см')
                    a.new-card__center(href='/catalog/product/vibromassazher-gigant-s-vyinosnyim-blokom--719121ru/', title='Перейти на страницу товара') БИОКЛОН Вибратор реалистичный, 29 см
                    p.new-card__bottom(data-action='buyButtonShell')
                      span.new-card__priceBlock
                        span.new-card__price
                          | 3 780
                          span.new-card__currency ₽
                      span.new-card__waiting Нет в наличии
                    p.new-card__explanation
                      | Вибромассажер крупного размера "Гигант"  реалистичный, телесный, на присоске, с мошонкой, с пультом ДУ.
              li
                .related_product
                  .new-card.new-card-type-catalog
                    .new-card__labels
                    .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/196411/')
                      svg.new-phone__icon.new-phone__icon-type-loop
                        use(xlink:href='#loopIcon')
                      img.new-card__img(src='/media/cache/33/7e/337e95355e397625f6aea02a19b48c79.jpg', width='130', height='130', alt='БИОКЛОН Вибратор реалистичный Android Style, 16,5 см')
                    a.new-card__center(href='/catalog/product/vibrator-neoskin-android-style-001402ru-001402ru/', title='Перейти на страницу товара') БИОКЛОН Вибратор реалистичный Android Style, 16,5 см
                    p.new-card__bottom(data-action='buyButtonShell')
                      span.new-card__priceBlock
                        span.new-card__price
                          | 1 324
                          span.new-card__currency ₽
                      button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/196411/', data-action='buyButton')
                        svg.new-tabs__icon.new-tabs__icon-type-cart
                          use(xlink:href='#cartIcon')
                        |  Купить
                    p.new-card__explanation Вибратор реалистичный, с мошонкой, с ярко-выраженными  головкой и венами.
              li
                .related_product
                  .new-card.new-card-type-catalog
                    .new-card__labels
                      .new-card__label.new-card__label-type-sale
                        span.new-card__fill -30%
                    .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/6691481/')
                      svg.new-phone__icon.new-phone__icon-type-loop
                        use(xlink:href='#loopIcon')
                      img.new-card__img(src='/media/cache/a6/2e/a62e2b16b57188e80b8a9389710fcba3.jpg', width='130', height='130', alt='Вакуумный вибростимулятор Hammer Royal Pleasure')
                    a.new-card__center(href='/catalog/product/bi-014623--vakuumnyij-vibrostimulyator-klitora--bi-014623/', title='Перейти на страницу товара') Вакуумный вибростимулятор Hammer Royal Pleasure
                    p.new-card__bottom(data-action='buyButtonShell')
                      span.new-card__priceBlock
                        span.new-card__price.new-card__price-type-old
                          | 6 990
                          span.new-card__currency ₽
                        span.new-card__price
                          | 4 893
                          span.new-card__currency ₽
                      button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/6691481/', data-action='buyButton')
                        svg.new-tabs__icon.new-tabs__icon-type-cart
                          use(xlink:href='#cartIcon')
                        |  Купить
                    p.new-card__explanation Вакуумный вибростимулятор для клитора и внешних эрогенных зон
              li
                .related_product
                  .new-card.new-card-type-catalog
                    .new-card__labels
                    .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/8916290/')
                      svg.new-phone__icon.new-phone__icon-type-loop
                        use(xlink:href='#loopIcon')
                      img.new-card__img(src='/media/cache/f4/85/f4855230085b57179f1778dfe7fdd7d7.jpg', width='130', height='130', alt='Вибатор PrettyLove Carol')
                    a.new-card__center(href='/catalog/product/vibromassazher-s-klitoralnyim-otrostkom-schetochkoj-prettylove--bi-014571/', title='Перейти на страницу товара') Вибатор PrettyLove Carol
                    p.new-card__bottom(data-action='buyButtonShell')
                      span.new-card__priceBlock
                        span.new-card__price
                          | 3 152
                          span.new-card__currency ₽
                      button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/8916290/', data-action='buyButton')
                        svg.new-tabs__icon.new-tabs__icon-type-cart
                          use(xlink:href='#cartIcon')
                        |  Купить
                    p.new-card__explanation
                      | Перезаряжаемый вибратор для точки G с клиторальным стимулятором в виде щеточки, рабочая длина 9,5 см, длина стимулятора 5 см
              li
                .related_product
                  .new-card.new-card-type-catalog
                    .new-card__labels
                    .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/223017/')
                      svg.new-phone__icon.new-phone__icon-type-loop
                        use(xlink:href='#loopIcon')
                      img.new-card__img(src='/media/cache/48/58/48583e349459189db156f9a107e24119.jpg', width='130', height='130', alt='Вибратор Antony')
                    a.new-card__center(href='/catalog/product/vibromassazher-vodonepronitsaemyij-bi-014193/', title='Перейти на страницу товара') Вибратор Antony
                    p.new-card__bottom(data-action='buyButtonShell')
                      span.new-card__priceBlock
                        span.new-card__price
                          | 1 590
                          span.new-card__currency ₽
                      button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/223017/', data-action='buyButton')
                        svg.new-tabs__icon.new-tabs__icon-type-cart
                          use(xlink:href='#cartIcon')
                        |  Купить
                    p.new-card__explanation
                      | Водонепроницаемый вибратор с увеличенной изогнутой головкой для стимуляции точки G, рабочая длина 8,7 см
          .related-products
            .new-content__catalog
              .new-card.new-card-type-catalog.new-card-type-disabled
                .new-card__labels
                .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/196682/')
                  svg.new-phone__icon.new-phone__icon-type-loop
                    use(xlink:href='#loopIcon')
                  img.new-card__img(src='/media/cache/f8/5e/f85e9b0aed20acdf17f07adac46d7fe2.jpg', width='130', height='130', alt='БИОКЛОН Вибратор реалистичный, 29 см')
                a.new-card__center(href='/catalog/product/vibromassazher-gigant-s-vyinosnyim-blokom--719121ru/', title='Перейти на страницу товара') БИОКЛОН Вибратор реалистичный, 29 см
                p.new-card__bottom(data-action='buyButtonShell')
                  span.new-card__priceBlock
                    span.new-card__price
                      | 3 780
                      span.new-card__currency ₽
                  span.new-card__waiting Нет в наличии
                p.new-card__explanation
                  | Вибромассажер крупного размера "Гигант"  реалистичный, телесный, на присоске, с мошонкой, с пультом ДУ.
              .new-card.new-card-type-catalog
                .new-card__labels
                .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/196411/')
                  svg.new-phone__icon.new-phone__icon-type-loop
                    use(xlink:href='#loopIcon')
                  img.new-card__img(src='/media/cache/33/7e/337e95355e397625f6aea02a19b48c79.jpg', width='130', height='130', alt='БИОКЛОН Вибратор реалистичный Android Style, 16,5 см')
                a.new-card__center(href='/catalog/product/vibrator-neoskin-android-style-001402ru-001402ru/', title='Перейти на страницу товара') БИОКЛОН Вибратор реалистичный Android Style, 16,5 см
                p.new-card__bottom(data-action='buyButtonShell')
                  span.new-card__priceBlock
                    span.new-card__price
                      | 1 324
                      span.new-card__currency ₽
                  button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/196411/', data-action='buyButton')
                    svg.new-tabs__icon.new-tabs__icon-type-cart
                      use(xlink:href='#cartIcon')
                    |  Купить
                p.new-card__explanation Вибратор реалистичный, с мошонкой, с ярко-выраженными  головкой и венами.
              .new-card.new-card-type-catalog
                .new-card__labels
                  .new-card__label.new-card__label-type-sale
                    span.new-card__fill -30%
                .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/6691481/')
                  svg.new-phone__icon.new-phone__icon-type-loop
                    use(xlink:href='#loopIcon')
                  img.new-card__img(src='/media/cache/a6/2e/a62e2b16b57188e80b8a9389710fcba3.jpg', width='130', height='130', alt='Вакуумный вибростимулятор Hammer Royal Pleasure')
                a.new-card__center(href='/catalog/product/bi-014623--vakuumnyij-vibrostimulyator-klitora--bi-014623/', title='Перейти на страницу товара') Вакуумный вибростимулятор Hammer Royal Pleasure
                p.new-card__bottom(data-action='buyButtonShell')
                  span.new-card__priceBlock
                    span.new-card__price.new-card__price-type-old
                      | 6 990
                      span.new-card__currency ₽
                    span.new-card__price
                      | 4 893
                      span.new-card__currency ₽
                  button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/6691481/', data-action='buyButton')
                    svg.new-tabs__icon.new-tabs__icon-type-cart
                      use(xlink:href='#cartIcon')
                    |  Купить
                p.new-card__explanation Вакуумный вибростимулятор для клитора и внешних эрогенных зон
              .new-card.new-card-type-catalog
                .new-card__labels
                .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/8916290/')
                  svg.new-phone__icon.new-phone__icon-type-loop
                    use(xlink:href='#loopIcon')
                  img.new-card__img(src='/media/cache/f4/85/f4855230085b57179f1778dfe7fdd7d7.jpg', width='130', height='130', alt='Вибатор PrettyLove Carol')
                a.new-card__center(href='/catalog/product/vibromassazher-s-klitoralnyim-otrostkom-schetochkoj-prettylove--bi-014571/', title='Перейти на страницу товара') Вибатор PrettyLove Carol
                p.new-card__bottom(data-action='buyButtonShell')
                  span.new-card__priceBlock
                    span.new-card__price
                      | 3 152
                      span.new-card__currency ₽
                  button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/8916290/', data-action='buyButton')
                    svg.new-tabs__icon.new-tabs__icon-type-cart
                      use(xlink:href='#cartIcon')
                    |  Купить
                p.new-card__explanation
                  | Перезаряжаемый вибратор для точки G с клиторальным стимулятором в виде щеточки, рабочая длина 9,5 см, длина стимулятора 5 см
              .new-card.new-card-type-catalog
                .new-card__labels
                .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/223017/')
                  svg.new-phone__icon.new-phone__icon-type-loop
                    use(xlink:href='#loopIcon')
                  img.new-card__img(src='/media/cache/48/58/48583e349459189db156f9a107e24119.jpg', width='130', height='130', alt='Вибратор Antony')
                a.new-card__center(href='/catalog/product/vibromassazher-vodonepronitsaemyij-bi-014193/', title='Перейти на страницу товара') Вибратор Antony
                p.new-card__bottom(data-action='buyButtonShell')
                  span.new-card__priceBlock
                    span.new-card__price
                      | 1 590
                      span.new-card__currency ₽
                  button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/223017/', data-action='buyButton')
                    svg.new-tabs__icon.new-tabs__icon-type-cart
                      use(xlink:href='#cartIcon')
                    |  Купить
                p.new-card__explanation
                  | Водонепроницаемый вибратор с увеличенной изогнутой головкой для стимуляции точки G, рабочая длина 8,7 см
            ul.pager-large
              li.prev
                a(href='#go-for-prev-tab', data-go-to='prev')
              li.active
                a(href='#go-for-tab', data-go-to='1')
                  span •
              li
                a(href='#go-for-tab', data-go-to='2')
                  span •
              li.next
                a(href='#go-for-next-tab', data-go-to='next')
        h4 Нунчаки
        p Если вы предпочитаете подчиняться и принадлежать, тогда вы нижний, а если все наоборот, то вы представитель верхнего позиционирования. Есть и те, кто могут менять свою позицию. 
        ol 
          li массажные свечи
          li масла
          li массажная свеча Island Blossoms
        p Если вы предпочитаете подчиняться и принадлежать, тогда вы нижний, а если все наоборот, то вы представитель верхнего позиционирования. Есть и те, кто могут менять свою позицию.
        blockquote Побольше цитат. И тут он попёр на меня: глаза бешеные, шерсть дыбом, когти вот такие!
        p Классификация ролей тоже вполне понятная по принципу «верха» и «низа». Если вы предпочитаете подчиняться и принадлежать, тогда вы нижний, а если все наоборот, то вы представитель верхнего позиционирования. Есть и те, кто могут менять свою позицию. 
        //.share-block.share-block_bottom.col
          strong.share-block__title Поделитесь:
          ul.share-block__list
            li.share-block__item
              a(href="#").share-block__link
                img(src=href+"/img/fb.svg", alt="icon")
            li.share-block__item
              a(href="#").share-block__link
                img(src=href+"/img/vk.svg", alt="icon")
            li.share-block__item
              a(href="#").share-block__link
                img(src=href+"/img/ok.svg", alt="icon")
            li.share-block__item
              a(href="#").share-block__link
                img(src=href+"/img/tw.svg", alt="icon")
        .article-head
          span.article-head__date 25 марта 2020 года
          .share-block
            span.share-block__title Поделитесь:
            ul.share-block__list
              li.share-block__item
                a(href="#").share-block__link
                  img(src=href+"/img/fb.svg", alt="icon")
              li.share-block__item
                a(href="#").share-block__link
                  img(src=href+"/img/vk.svg", alt="icon")
              li.share-block__item
                a(href="#").share-block__link
                  img(src=href+"/img/ok.svg", alt="icon")
              li.share-block__item
                a(href="#").share-block__link
                  img(src=href+"/img/tw.svg", alt="icon")

    section.section
      h2.section__title Другие статьи:
      .row.grid
        include blocks/blocks
        +news-item('https://bunnylove.ru/media/article/teaser/bunny_bdsm.jpg', 'news-item-card_color-1 grid__block col-lg-4 col-sm-6', 'Выбор вибратора')
        +news-item('', 'news-item-card_color-2 grid__block col-lg-4 col-sm-6', 'Как не нужно делать')
        +news-item('https://bunnylove.ru/media/article/teaser/bunny_vibr.jpg', 'news-item-card_color-2 grid__block col-lg-4 col-sm-6', '12 правил безопасного анального секса')
      .section__more.row.justify-content-center
        .col-sm-auto
          button.new-button.new-button_fluid.new-button-type-fill Показать ещё