extends layout/layout
block variables
  -var namespace = 'Карточка товара'
block title
  title #{namespace}
block content 
  include blocks/breadcrumbs
  section.section.product-section
    .container
      .product-section__heading
        h1.section__title.product-section__title Бра LOFT IT LOFT2105 LOFT2105W 
          span Испания
        span.product-section__art Артикул: 55139
      .product-section__head.row
          //slider
          .product-section__images.col-xl-5.col-lg-6.col-md-5
            .product-slider-wrap
              a(href="#").product-section__favorites-button
                svg.icon
                  use(xlink:href='img/icons/icons-sprite.svg#heart')
              .card-labels.product-section__card-labels
                .card-label.card-label_type-discount -20%
                .card-label.card-label_type-new НОВИНКА
                .card-label.card-label_type-top ТОП ПРОДАЖ
              //главный слайдер
              .slider.product-slider
                mixin slide(href)
                  //slide
                  .product-slider__slide.image.image_contain
                    img(data-src=href alt="image").lazyload
                +slide('./img/bra.jpg')
                +slide('./img/image1.png')
                +slide('./img/image2.png')
                +slide('./img/image3.png')
                
            //навигационный слайдер
            .slider.product-nav-slider.row
              mixin slide2(href)
                //slide
                .product-nav-slider__slide.col
                  .image.image_cover
                    img(data-src=href alt="image").lazyload
              +slide2('./img/bra.jpg')
              +slide2('./img/image1.png')
              +slide2('./img/image2.png')
              +slide2('./img/image3.png')
          .product-section__content.col-xl-7.col-lg-6.col-md-7
            .row
              .col-sm-6.product-section__left-col
                .product-section__pricing
                  span.product-section__price 3920 <i class="fas fa-ruble-sign"></i>
                  span.product-section__old-price 4500 <i class="fas fa-ruble-sign"></i>
                .product-section__colors
                  h6.product-section__colors-title Доступные цвета:
                  ul.product-section__colors-list
                    -var index = 0;
                    mixin checkbox-color(style)
                      li
                        .checkbox.checkbox_color
                          input(type="radio" name='color' id=index).checkbox__input
                          label(for=index).checkbox__label(style='background-color:'+style+';')
                        -index++
                      -index++

                    +checkbox-color('#545761')
                    +checkbox-color('#fff')
                    +checkbox-color('#eec337')
                    +checkbox-color('#c28400')
                    +checkbox-color('#c26400')

                .product-section__availability
                  span.product-section__availability-true Есть в наличии <i class="fas fa-check"></i>
                  
                  span.product-section__availability-false Нет в наличии

                .product-section__files
                  h6.product-section__files-title <i class="fas fa-download"></i> Файлы для скачивания
                  ul.product-section__files-list
                    li
                      a(href="#ldslds") Прайс.pdf
                    li
                      a(href="#dff") Price.doc

                .product-section__count
                  h6.product-section__count-title Количество:
                  .calc-count-block
                    a(href="javascript:void(0);").button.calc-count-block__button.js-minus
                    .input
                      input(type="number" name='ddd' value='1').input__element.calc-count-block__input
                    a(href="javascript:void(0);").button.calc-count-block__button.js-plus
              .col-sm-6.product-section__right-col
                .product-section__specifications
                  h2.product-section__specifications-title Характеристики
                  ul.product-section__specifications-list
                    li
                      span Мощность
                      span 11 W
                    li
                      span Гарантия
                      span 1 год
                    li
                      span Напряжение
                      span 230V / 50Hz
                    li
                      span Цвет колбы
                      span Матовый
                    li
                      span Производитель
                      span Saffit
                    li
                      span Световой поток
                      span 905Lm
                    li
                      span Цоколь
                      span E27
                    li
                      span Срок службы
                      span 5000 часов
                    li
                      span Угол рассеивания
                      span 220 градусов
                    li
                      span Цвет свечения
                      span 4000K
                    li
                      span Размер
                      span 45х85мм
                    li
                      span Тип лампы
                      span G45
              .col-12.product-section__buttons
                .row
                  .col-xl-4.col-sm-6
                    a(href="#").button.button_style-3.button_radius В корзину
                  .col-xl-4.col-sm-6
                    a(href="#").button.button_style-1.button_radius Купить в один клик
      .product-section__description
        .product-section__description-head
          h2.product-section__description-title Описание
        .product-section__description-content
          p Светодиодная лампочка в форме свечи с цоколем E14 и размерами 80 мм по высоте обладает мощностью в 11 W, благодаря чему она может осветить 3.7 кв. м. Цветовая температура – 2700K К, т.е. теплый свет близкий к цвету Солнца. Ориентировочный срок службы заявленный производителем Saffit составляет 30 000 ч. Изделие рассчитано на использование в сети с переменным напряжением в 230В.
          ul  
            li Сорт Е (элита)
            li Сорт I, потолков, перегородок, в качестве настила под напольные покрытия, для опалубки, для изготовления тары и упаковки, а также в мебельном производстве.
            li Сорт III
          p Светодиодная лампочка в форме свечи с цоколем E14 и размерами 80 мм по высоте обладает.
          ol  
            li Сорт Е (элита)
            li Сорт I, потолков, перегородок, в качестве настила под напольные покрытия, для опалубки, для изготовления тары и упаковки, а также в мебельном производстве.
            li Сорт II

  section.section
    .container
      h2.section__title Похожие товары
      .slider.slider_grid.products-slider.row
        -var index = 0
        mixin card()
              -index++
              if index==5
                -index=1
              .catalogue-card.col
                .catalogue-card__container.jsTouchHover
                  .card-labels.catalogue-card__card-labels
                    if index==1
                      .card-label.card-label_type-discount -20%
                    else if index==2
                      .card-label.card-label_type-new НОВИНКА
                    else if index==3
                      .card-label.card-label_type-top ТОП ПРОДАЖ
                    else if index==4  
                      .card-label.card-label_type-new НОВИНКА
                      .card-label.card-label_type-top ТОП ПРОДАЖ
                  if index==1
                    a(href="#").catalogue-card__favorites-button.active
                      svg.icon
                        use(xlink:href='img/icons/icons-sprite.svg#heart')
                  else
                    a(href="#").catalogue-card__favorites-button
                      svg.icon
                        use(xlink:href='img/icons/icons-sprite.svg#heart')
                  
                  a(href="#").image.image_contain.catalogue-card__image
                    if index==1
                      img(data-src='./img/bra.jpg', alt="image").lazyload
                    else if index==2  
                      img(data-src='./img/image1.png', alt="image").lazyload
                    else if index==3
                      img(data-src='./img/image2.png', alt="image").lazyload
                    else if index==4
                      img(data-src='./img/image3.png', alt="image").lazyload
                  .catalogue-card__content
                    .catalogue-card__content-top
                      if index==1
                        h3.catalogue-card__title Бра LOFT IT LOFT2105
                      else
                        h3.catalogue-card__title Бра LOFT IT LOFT2105 LOFT2105W
                      span.catalogue-card__label Испания
                    .catalogue-card__content-bottom
                      .catalogue-card__pricing
                        span.catalogue-card__price 10720 <i class="fas fa-ruble-sign"></i>
                        if index==3
                          span.catalogue-card__old-price 12000 <i class="fas fa-ruble-sign"></i>
                      a(href="#").button.button_style-3.button_radius.catalogue-card__button В корзину
            
        +card()
        +card()
        +card()
        +card()
        +card()