-var href = 'https://ruslanmmr.github.io/work/vagonka/build'
-var href = 'http://localhost:9000'
block classes
doctype html
html
  head
    base(href="https://vagonka-brus-doska.ru")
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='keywords', content='Северная, Лесная, Компания')
    title Северная Лесная Компания
    link(rel='shortcut icon', href='/media/Лого СЛК (1).ico')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/customization/custom_colors.css', type='text/css')
    link(rel='stylesheet', href='/static/css/nouislider.min.css', type='text/css')
    link(rel='stylesheet', href='/static/css/style.css', type='text/css')
    link(rel='stylesheet', href='/static/css/jquery.fancybox.v3.5.7.min.css', type='text/css')
    link(rel='stylesheet', href='/static/css/custom.css', type='text/css')
    link(rel='stylesheet', href='/static/css/common.css', type='text/css')
    //helper
    link(rel='stylesheet' href=href+'/styles/js-helper.min.css')
    //new
    link(rel='stylesheet' href=href+'/styles/new.css')
  body(class=bodyClass)
    header
      .top-header
        .container
          .top-header__content
            .top-header__content-left
              a.logo(href='/')
                img(src='/media/Логотип СЛК (4).png', alt='Северная Лесная Компания')
              .main-menu
                ul
                  li
                    a(title='Для клиентов', href='/for-clients/') Для клиентов
                  li
                    a(title='Новости и акции', href='/news/') Новости и акции
                  li
                    a(title='Наши Партнеры', href='/addresses/partners/') Партнеры
                  li
                    a(title='Статьи', href='/articles/') Статьи
                  li
                    a(title='Контакты', href='/contacts/') Контакты
            .top-header__content-right
              a.header-phone.phone(href='tel:+78462284090') 78462284090
              a.btn-border.callme-button.mobile-hide(data-fancybox='callme-modal', data-src='#callme-modal', href='javascript:;') Заказать звонок
            .burger-menu
              .burger
            .mobile-menu
              .mobile-menu__item.mobile-show
                .header-user
                  a.header-user__link(href='/account/login/')
                    span.icon
                      svg(width='32', height='32', viewBox='0 0 32 32', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M15.9987 13.3346C17.0535 13.3346 18.0847 13.0218 18.9617 12.4358C19.8388 11.8498 20.5224 11.0168 20.9261 10.0423C21.3297 9.06774 21.4353 7.99539 21.2296 6.96082C21.0238 5.92626 20.5158 4.97595 19.7699 4.23007C19.0241 3.48419 18.0737 2.97624 17.0392 2.77045C16.0046 2.56466 14.9323 2.67028 13.9577 3.07395C12.9832 3.47761 12.1502 4.1612 11.5642 5.03826C10.9782 5.91533 10.6654 6.94647 10.6654 8.0013C10.6654 9.41579 11.2273 10.7723 12.2275 11.7725C13.2277 12.7727 14.5842 13.3346 15.9987 13.3346ZM26.2787 21.6013C23.5494 18.8802 19.8527 17.3522 15.9987 17.3522C12.1447 17.3522 8.44796 18.8802 5.7187 21.6013L5.33203 22.0013V28.0013H26.6654V22.0013L26.2787 21.6013Z')
                    | Авторизация
              .mobile-menu__item.mobile-show
              .mobile-menu__item.mobile-show
                .header-search
                  input.search_input(name='q', type='text', autocomplete='off', value='', data-search-url='/catalog/search', placeholder='Введите название, артикул, бренд...')
                  button
                    svg.icon-svg
                      use(xlink:href='#search-icon')
                  #search-result-container.header-search-results(style='display: none;')  
              .mobile-ul
                ul.catalog-menu-mobile
                  li.catalog-opened.mobile-show
                    a Каталог
                    ul.submenu
                      li.menu-item.current
                        a(href='/catalog/vagonka-i-evrovagonka/') Вагонка и Евровагонка
                      li.menu-item.current
                        a(href='/catalog/blok-haus/') Блок Хаус
                      li.menu-item.current
                        a(href='/catalog/imitaciya-brusa/') Имитация бруса
                      li.menu-item.current
                        a(href='/catalog/doska-pola/') Доска пола
                      li.menu-item.current
                        a(href='/catalog/brus-i-doska-suhie-strogannye/') Брус и Доска (строганные и обрезные)
                      li.menu-item.current
                        a(href='/catalog/dekorativnaya-otdelka/') Декоративная отделка
                      li.menu-item.current
                        a(href='/catalog/elementy-lestnic/') Элементы лестниц
                      li.menu-item.current
                        a(href='/catalog/dveri-i-okna/') Двери и окна
                      li.menu-item.current
                        a(href='/catalog/materialy-iz-lipy/') Материалы из липы
                      li.menu-item.current
                        a(href='/catalog/materialy-iz-listvennicy/') Материалы из лиственницы
                      li.menu-item.current
                        a(href='/catalog/materialy-ih-osiny-i-abashi/') Материалы из осины и абаши
                      li.menu-item.current
                        a(href='/catalog/fanera-osb-dsp-dvp-tssp/') Фанера, ОСБ, ДСП, ДВП
                      li.menu-item.current
                        a(href='/catalog/utepliteli/') Утеплители
                      li.menu-item.current
                        a(href='/catalog/plenki-i-membrany/') Пленки и мембраны
                      li.menu-item.current
                        a(href='/catalog/propitki-dlya-drevesiny/') Пропитки для древесины
                ul
                  li
                    a(title='Калькулятор доставки', href='/cart/delivery_calculator/') Калькулятор доставки
                  li
                    a(title='Новости и акции', href='/news/') Новости и акции
                  li
                    a(title='Статьи', href='/articles/') Статьи
                  li
                    a(title='Контакты', href='/contacts/') Контакты
              .mobile-phone.mobile-show
                span.icon
                  img(src='/static/images/phone-mobile-icon.svg', alt='')
                a.phone(href='tel:+78462284090') 78462284090
              .mobile-btn.mobile-show
                a.btn.btn--rubber(data-fancybox='callme-modal-mobile', data-src='#callme-modal-mobile', href='javascript:;') Заказать звонок
      .header-body
        .container
          .header-body__content
            a.catalog-inner-btn
              .burger-catalog
                .burger
              |                             Каталог продукции
            .header-search.mobile-hide.header-search--inner
              input.search_input(name='q', type='text', autocomplete='off', value='', data-search-url='/catalog/search', placeholder='Введите название, артикул, бренд...')
              button
                svg.icon-svg
                  use(xlink:href='#search-icon')
              #search-result-container.header-search-results(style='display: none;')  
            .header-body__content-right
              .header-user.mobile-hide
                a.header-user__link(href='/account/login/')
                  span.icon
                    svg(width='32', height='32', viewBox='0 0 32 32', fill='none', xmlns='http://www.w3.org/2000/svg')
                      path(d='M15.9987 13.3346C17.0535 13.3346 18.0847 13.0218 18.9617 12.4358C19.8388 11.8498 20.5224 11.0168 20.9261 10.0423C21.3297 9.06774 21.4353 7.99539 21.2296 6.96082C21.0238 5.92626 20.5158 4.97595 19.7699 4.23007C19.0241 3.48419 18.0737 2.97624 17.0392 2.77045C16.0046 2.56466 14.9323 2.67028 13.9577 3.07395C12.9832 3.47761 12.1502 4.1612 11.5642 5.03826C10.9782 5.91533 10.6654 6.94647 10.6654 8.0013C10.6654 9.41579 11.2273 10.7723 12.2275 11.7725C13.2277 12.7727 14.5842 13.3346 15.9987 13.3346ZM26.2787 21.6013C23.5494 18.8802 19.8527 17.3522 15.9987 17.3522C12.1447 17.3522 8.44796 18.8802 5.7187 21.6013L5.33203 22.0013V28.0013H26.6654V22.0013L26.2787 21.6013Z')
                  | Авторизация
              a.header-cart(href='/cart/')
                i.icon
                  svg.icon-svg
                    use(xlink:href='#shopping-cart')
                span.cart-number 1
            //new 
            .header-fixed-content
              a.header-phone.phone(href='tel:+78462284090') 78462284090
              a.btn-border.callme-button.mobile-hide(data-fancybox='callme-modal', data-src='#callme-modal', href='javascript:;') Заказать звонок
        
        .catalog-header-content(style='display: none;')
          ul
            li.menu-item
              a(href='/catalog/vagonka-i-evrovagonka/') Вагонка и Евровагонка
            li.menu-item
              a(href='/catalog/blok-haus/') Блок Хаус
            li.menu-item
              a(href='/catalog/imitaciya-brusa/') Имитация бруса
            li.menu-item
              a(href='/catalog/doska-pola/') Доска пола
            li.menu-item
              a(href='/catalog/brus-i-doska-suhie-strogannye/') Брус и Доска (строганные и обрезные)
            li.menu-item
              a(href='/catalog/dekorativnaya-otdelka/') Декоративная отделка
            li.menu-item
              a(href='/catalog/elementy-lestnic/') Элементы лестниц
            li.menu-item
              a(href='/catalog/dveri-i-okna/') Двери и окна
            li.menu-item
              a(href='/catalog/materialy-iz-lipy/') Материалы из липы
            li.menu-item
              a(href='/catalog/materialy-iz-listvennicy/') Материалы из лиственницы
            li.menu-item
              a(href='/catalog/materialy-ih-osiny-i-abashi/') Материалы из осины и абаши
            li.menu-item
              a(href='/catalog/fanera-osb-dsp-dvp-tssp/') Фанера, ОСБ, ДСП, ДВП
            li.menu-item
              a(href='/catalog/utepliteli/') Утеплители
            li.menu-item
              a(href='/catalog/plenki-i-membrany/') Пленки и мембраны
            li.menu-item
              a(href='/catalog/propitki-dlya-drevesiny/') Пропитки для древесины
    main
      block content
    footer
      .container
        .footer-content
          .footer-first-column
            .footer-phone
              a.phone(href='tel:+78462284090') 78462284090
            span.footer-contact les@stroyles.com
            a.logo(href='/')
              img(src='/media/Frame 1.svg', alt='Северная Лесная Компания')
          .footer-content__menu
            .footer-content__column.footer-content__column--lg
              span.footer-content__title Каталог
              .footer-content__ul-content
                ul
                  li.menu-item
                    a(href='/catalog/vagonka-i-evrovagonka/') Вагонка и Евровагонка
                  li.menu-item
                    a(href='/catalog/blok-haus/') Блок Хаус
                  li.menu-item
                    a(href='/catalog/imitaciya-brusa/') Имитация бруса
                  li.menu-item
                    a(href='/catalog/doska-pola/') Доска пола
                  li.menu-item
                    a(href='/catalog/brus-i-doska-suhie-strogannye/') Брус и Доска (строганные и обрезные)
                  li.menu-item
                    a(href='/catalog/dekorativnaya-otdelka/') Декоративная отделка
                  li.menu-item
                    a(href='/catalog/elementy-lestnic/') Элементы лестниц
                  li.menu-item
                    a(href='/catalog/dveri-i-okna/') Двери и окна
                  li.menu-item
                    a(href='/catalog/materialy-iz-lipy/') Материалы из липы
                  li.menu-item
                    a(href='/catalog/materialy-iz-listvennicy/') Материалы из лиственницы
                  li.menu-item
                    a(href='/catalog/materialy-ih-osiny-i-abashi/') Материалы из осины и абаши
                  li.menu-item
                    a(href='/catalog/fanera-osb-dsp-dvp-tssp/') Фанера, ОСБ, ДСП, ДВП
                  li.menu-item
                    a(href='/catalog/utepliteli/') Утеплители
                  li.menu-item
                    a(href='/catalog/plenki-i-membrany/') Пленки и мембраны
                  li.menu-item
                    a(href='/catalog/propitki-dlya-drevesiny/') Пропитки для древесины
            .footer-content__column
              span.footer-content__title Покупателям
              ul
                li
                  a(title='Калькулятор доставки', href='/cart/delivery_calculator/') Калькулятор доставки
                li
                  a(title='Новости и акции', href='/news/') Новости и акции
                li
                  a(title='Статьи', href='/articles/') Статьи
                li
                  a(title='Партнеры', href='/addresses/partners/') Партнеры
                li
                  a(title='Контакты', href='/contacts/') Контакты
          .footer-right
            span.footer-content__title
              | Оставайтесь на связи!
              span Новинки, скидки, предложения
            form#footer-subscription-form.footer-subscribe(method='POST', action='/subscription/new/')
              input(type='hidden', name='csrfmiddlewaretoken', value='TkfGSDyBtcijReFCaQesuvFuHS30AOw8dt25MZMrhoVQ8ABeQsh2qeVepVct79TA')
              input(type='email', name='email', required='', placeholder='Адрес электронной почты')
              button(type='submit') Подписаться
            .developer-link
              a(href='https://stroyker.pro/')
                | Решения для строительного бизнеса 
                span.dev-logo
                  svg
                    use(xlink:href='#dev-logo')
        .footer-bottom
          .footer-bottom__left
            span.copy © 2020 Стройкер. Все права защищены
          .footer-social
            span
              a(href='#')
                img(src='/static/images/fb-icon.svg', alt='Мы в FaceBook')
            span
              a(href='#')
                img(src='/static/images/instagram-icon.svg', alt='Мы в Instagram')
            span
              a(href='#')
                img(src='/static/images/twitter-icon.svg', alt='Мы в Twitter')
            span
              a(href='#')
                img(src='/static/images/youtube-icon.svg', alt='Мы на YouTube')

    svg.hidden(width='0', height='0')
      symbol#compare-icon(viewBox='0 0 32 32', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M7.395 10.995v16.59H2.996v-16.59h4.399zm22.387 7.995v8.595h-4.4v-8.594h4.4zM18.588 3v24.585H14.19V3h4.4z', fill='currentColor')
      symbol#shopping-cart(viewBox='0 0 32 32', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(d='M9.332 25.333a1.667 1.667 0 1 0 0 3.334 1.667 1.667 0 0 0 0-3.334zm14.667 0a1.667 1.667 0 1 0 0 3.335 1.667 1.667 0 0 0 0-3.335zM25.332 24v-2.667h-14.32l-.427-1.733L28 16.48V6.667H7.372L6.665 4H1.332v2.667h3.293L8.932 24h16.4z', fill='currentColor')
      symbol#compare-icon-2(viewBox='0 0 17 17', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(d='M17 8.237h-3v8.002h3V8.237zM3 4.236H0v12.003h3V4.236zm7-4.002H7V16.24h3V.234z', fill='currentColor')
      symbol#user-icon(viewBox='0 0 32 32', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(d='M15.999 13.335a5.333 5.333 0 1 0 0-10.667 5.333 5.333 0 0 0 0 10.667zm10.28 8.266a14.56 14.56 0 0 0-20.56 0l-.387.4v6h21.333v-6l-.386-.4z', fill='currentColor')
      symbol#search-icon(viewBox='0 0 18 18', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(stroke='currentColor', stroke-width='2', d='M17.062 16.768l-5-5M14.165 7.5c-.09 3.592-3.07 6.5-6.651 6.5a6.303 6.303 0 0 1-6.326-6.5C1.278 3.908 4.257 1 7.838 1a6.303 6.303 0 0 1 6.327 6.5z')
      symbol#1(viewBox='0 0 22 20', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(d='M22 10h-4v10h4V10zM4 5H0v15h4V5zm9-5H9v20h4V0z', fill='currentColor')
      symbol#product-nav-arrow(viewBox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(d='M5.092 11l5.093-5.093L5.091.815', stroke='currentColor', stroke-width='2')
      symbol#tab-arrow(viewBox='0 0 16 9', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M0 1.334L1.1 0 8 6.612 14.9 0 16 1.334 8 9 0 1.334z', fill='currentColor')
      symbol#delete(viewBox='0 0 26 26', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(fill='currentColor', d='M5.656 18.656L18.384 5.928l1.414 1.415L7.07 20.07z')
        path(fill='currentColor', d='M7.07 5.93l12.728 12.728-1.414 1.414L5.656 7.344z')
      symbol#schedule-icon(viewBox='0 0 25 11', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M24.4.873L13.387 10.73l-4.405-3.9-4.555 3.799H.4l8.537-7.55 4.454 3.945L20.554.73 24.4.873z', fill='currentColor')
      symbol#share-icon(viewBox='0 0 16 23', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(d='M12.606 2.97L2.203 12.174l10.403 8.403', stroke='currentColor')
        circle(cx='12.906', cy='3.07', r='2.5', fill='currentColor')
        circle(cx='3.303', cy='11.873', r='2.5', fill='currentColor')
        circle(cx='12.906', cy='19.875', r='2.5', fill='currentColor')
      symbol#delivery-white(viewBox='0 0 48 31', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(d='M14.77 26.5c0 2.485-1.86 4.5-4.155 4.5-2.294 0-4.153-2.015-4.153-4.5s1.86-4.5 4.153-4.5c2.294 0 4.154 2.015 4.154 4.5zm24.846 0c0 2.485-1.86 4.5-4.154 4.5-2.294 0-4.153-2.015-4.153-4.5s1.86-4.5 4.153-4.5c2.294 0 4.154 2.015 4.154 4.5z', fill='currentColor')
        path(d='M6.5 0H35l-1.77 7h7.462L48 13.848 45 26H0L6.5 0z', fill='currentColor')
      symbol#check-btn(viewBox='0 0 47 30', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(d='M5.176 9H0l5.824 21H11L5.176 9z', fill='currentColor')
        path(d='M47 0h-8L8 26l3.033 4L47 0z', fill='currentColor')
      symbol#view-sort-2(viewBox='0 0 14 15', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(stroke='currentColor', d='M6 7.5h8m-8-6h8m-8 12h8')
        path(fill='currentColor', d='M0 12h3v3H0zm0-6h3v3H0zm0-6h3v3H0z')
      symbol#view-sort-1(viewBox='0 0 15 15', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(fill='currentColor', d='M12 12h3v3h-3zm-6 0h3v3H6zm-6 0h3v3H0zm12-6h3v3h-3zM6 6h3v3H6zM0 6h3v3H0zm12-6h3v3h-3zM6 0h3v3H6zM0 0h3v3H0z')
      symbol#view-sort-3(viewBox='0 0 13 11', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(stroke='currentColor', d='M0 5.5h13M0 .5h13m-13 10h13')
      symbol#shopping-cart-full(viewBox='0 0 29 27', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M7.092 6l21.817 2.24-4.03 10.827L8.083 20 7.092 6zm6.913 18.229a2.39 2.39 0 0 1-2.38 2.4 2.39 2.39 0 0 1-2.38-2.4 2.39 2.39 0 0 1 2.38-2.4 2.39 2.39 0 0 1 2.38 2.4zm5.78 2.4a2.39 2.39 0 0 0 2.38-2.4 2.39 2.39 0 0 0-2.38-2.4 2.39 2.39 0 0 0-2.38 2.4 2.39 2.39 0 0 0 2.38 2.4z', fill='currentColor')
        path(d='M9.617 19.5l-2-17-7.5-.5', stroke='currentColor', stroke-width='3')
      symbol#review-heart(viewBox='0 0 23 18', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M10.955 3.556C9.293 1.828 8.743 1.1 5.887 1.003 3.03.905.983 3.241 1 5.756c.017 2.515 1 4.138 3.015 5.738l6.573 5.219c.482.383.787.383 1.269 0l6.572-5.219c2.015-1.6 2.998-3.223 3.015-5.738.018-2.515-2.03-4.85-4.886-4.753-2.856.097-3.406.825-5.069 2.553a.379.379 0 0 1-.534 0z', stroke='#1C52AC', stroke-width='2', stroke-miterlimit='22.926')
      symbol#review-comment(viewBox='0 0 23 19', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(d='M6 6h11M6 10h7', stroke='#1C52AC', stroke-width='2')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M3.073 1h16.854C21.067 1 22 1.808 22 2.796v9.847c0 .987-.933 1.796-2.073 1.796h-5.76c-1.378 0-1.097-.068-2.217.63L7.49 17.85c-.58.362-1.323.03-1.323-.59v-2.25c0-.484-.334-.571-.75-.571H3.074C1.933 14.439 1 13.63 1 12.643V2.796C1 1.808 1.933 1 3.073 1z', stroke='#1C52AC', stroke-width='2', stroke-miterlimit='22.926')
      symbol#comparison-delete(viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(d='M6.344 6.343l11.314 11.314m-11.313 0L17.658 6.343', stroke='currentColor', stroke-width='2')
      symbol#delivery-icon(viewBox='0 0 25 24', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M12.406 1.61l-3.48 2 9 5.19 3.48-2-9-5.19zm-5.48 3.16L3.406 6.8l9 5.2 3.52-2-9-5.23zM3.406 17.2l8 4.61v-8.08l-8-4.62v8.09zm10 4.61l8-4.61V9.11l-8 4.62v8.08z', fill='currentColor')
      symbol#document-icon(viewBox='0 0 48 48', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(d='M30.82 4H8v40h32V13.18L30.82 4zM26 30H16v-3.8h10V30zm6-8H16v-3.9h16V22z', fill='currentColor')
      symbol#edit-icon(viewBox='0 0 48 48', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(d='M6 33.518v8.48h8.48l20.34-20.34-8.48-8.48L6 33.518zm34.76-23.52L38 7.238a4.12 4.12 0 0 0-5.78 0l-3.04 3.1 8.48 8.48 3.1-3.08a4.12 4.12 0 0 0 0-5.74z', fill='currentColor')
      symbol#arrow-client(viewBox='0 0 12 20', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(d='M2.18 19.05L.77 17.64 8.4 10 .77 2.36 2.18.95 11.23 10l-9.05 9.05z', fill='currentColor')
      symbol#dev-logo(viewBox='0 0 336 45', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(d='M87.027 34.632c12.732 0 15.011-4.175 15.011-8.231v-.459c0-4.885-3.582-7.032-12.79-7.298l-4.367-.09c-4.56-.103-5.27-.887-5.27-1.864v-.03c0-.947.488-1.791 5.344-1.791h.325c5.241 0 5.76 1.687 5.848 2.576h10.067v-.267c0-3.834-2.74-7.654-14.715-7.654h-2.902c-11.296 0-13.93 3.45-13.93 7.402v.282c0 3.745 2.501 7.032 11.887 7.298l4.486.133c5.077.163 5.7.948 5.7 2.177v.03c0 1.169-.756 2.279-5.922 2.279h-.297c-5.27 0-5.95-2.117-6.054-3.42H69.292v.326c0 3.168 1.392 8.601 14.774 8.601h2.961zm26.04-.458h9.253V16.557h10.452V9.954h-30.156v6.603h10.451v17.617zm31.341-18.328h10.614c2.088 0 2.798.918 2.798 2.058v.03c0 1.17-.74 2.072-2.798 2.072h-10.614v-4.16zm0 10.023h8.853c3.656 0 4.915 1.436 4.915 4.204V32.9c0 .695.074 1.02.296 1.273h9.445v-.163c-.237-.415-.459-1.037-.459-2.739v-3.583c0-3.123-1.984-5.077-4.974-5.758 1.82-.415 4.87-1.88 4.87-5.404v-.355c0-3.938-3.124-6.218-10.185-6.218h-22.014v24.22h9.253v-8.305zm42.339-16.374c-15.692 0-17.676 7.461-17.676 12.021v.977c0 4.515 1.984 12.14 17.676 12.14h1.465c15.663 0 17.647-7.625 17.647-12.14v-.977c0-4.56-2.014-12.02-17.647-12.02h-1.465zm9.534 12.702c0 2.606-1.658 5.892-8.824 5.892-7.15 0-8.823-3.42-8.823-5.966v-.385c0-2.576 1.54-5.729 8.823-5.729 7.166 0 8.824 3.153 8.824 5.73v.458z', fill='currentColor')
        path(d='M215.897 34.174h9.237v-9.046l12.969-15.174h-10.126l-7.195 8.364-7.076-8.364h-11.059l13.25 15.1v9.12zm32.346 0V23.337l11.828 10.837h12.036l-14.552-13.22 14.108-11H260.16l-11.917 9.564V9.954h-9.238v24.22h9.238zm24.811-24.22v24.22h27.062v-6.055h-17.943v-3.316h17.321V18.91h-17.321v-3.035h17.676V9.954h-26.795zm38.98 5.892h10.614c2.073 0 2.798.918 2.798 2.058v.03c0 1.17-.755 2.072-2.798 2.072h-10.614v-4.16zm0 10.023h8.853c3.641 0 4.915 1.436 4.915 4.204V32.9c0 .695.059 1.02.296 1.273h9.445v-.163c-.237-.415-.459-1.037-.459-2.739v-3.583c0-3.123-1.984-5.077-4.989-5.758 1.821-.415 4.885-1.88 4.885-5.404v-.355c0-3.938-3.124-6.218-10.185-6.218h-22.014v24.22h9.253v-8.305z', fill='currentColor')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M29.471 44.505L13.852 26.522l24.87 7.345-9.25 10.638z', fill='currentColor')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M0 10.581l7.758 8.94 34.567 10.191 10.615-12.21L6.587 3.821 0 10.582z', fill='currentColor')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M48.775.103L11.293 0l45.251 13.358L59 10.547 48.775.103z', fill='currentColor')
    
    //helper
    include ../blocks/js-helper


    script(type='text/javascript', src='/static/js/jquery-3.2.1.min.js')
    script(type='text/javascript', src='/static/js/jquery.fancybox.v3.5.7.min.js')
    script(type='text/javascript', src='/static/js/owl.carousel.js')
    script(type='text/javascript', src='/static/js/jquery.mask.min.js')
    script(type='text/javascript').
      window.onload = windowload;
      window.onresize = AppendScript;
      function windowload() {
      AppendScript();
      }
      function AppendScript() {
      if (window.innerWidth >= 767) {
      Include('/static/js/scripts-desktop.js', 'on')
      } else {
      Include('/static/js/scripts-mobile.js', 'on')
      }
      }
      function Include(filename, status) {
      var head = document.getElementsByTagName('head')[0];
      if (status == 'on') {
      script = document.createElement('script');
      script.src = filename;
      script.type = 'text/javascript';
      head.appendChild(script)
      } else if (status == 'off') {
      var scripts = head.getElementsByTagName('script');
      if (scripts.length > 0) {
      head.removeChild(scripts[1]);
      }
      }
      }
    script(type='text/javascript').
      // This url dictionary is used in js scripts instead of direct links.
      const URLS = {
      static: "/static/",
      cart: "/cart/",
      register: "/account/register/",
      }
    script(src='/static/js/notify.min.js')
    script(src='/static/js/ajax_setup.js')
    script(src='/static/catalog/js/search.js')
    script(src='/static/js/common.js')
    script(src='/static/commerce/js/cart.js')
    script(src='/static/catalog/js/catalog.js')
    script.
      var BNR_URLS = {
      'inc_views': '/bnrs/ajax/view-cnt-incr',
      'inc_clicks': '/bnrs/ajax/clck-cnt-incr'
      };
    script(src='/static/banners/js/bnrs.js')
    script(type='text/javascript', src='/static/crm/js/crm_forms.js')
    script(src='/static/addresses/js/addresses_yamap.js')
    script(src='/static/js/frontpage.js')
    script(type='text/javascript', src='/static/subscription/js/subscription.js')
    script(src='/static/js/scripts.js')


    //helper
    script(type='text/javascript', src=href+'/js/js-helper.min.js')
    
    //new
    script(type='text/javascript', src=href+'/js/new.js')




