extends layout/layout
block variables
  -var title = sitename+' - Каталог'
block content

  section.section.catalogue   
    .container
      .row 
        .catalogue__aside.col-xl-3.col-lg-4
          h2.catalogue__title Категория
          ul.catalogue__aside-nav 
            li 
              a(href=catologue).back-link.catalogue__back-link
                svg.icon
                  use(xlink:href='./img/icons/sprite.svg#arrow')
                | Электроника
            li 
              a(href=catologue).back-link.catalogue__back-link
                svg.icon
                  use(xlink:href='./img/icons/sprite.svg#arrow')
                | Телефоны и смарт-часы
          h1.catalogue__active-label Смартфоны

          .filter.toggle-section(data-fix)
            .filter-open.row
              .col-sm-6
                button.button.button_style-1.toggle-section__trigger
                  svg.icon
                    use(xlink:href='./img/icons/sprite.svg#filter')
                  span Фильтр

            .filter__container.toggle-section__content(data-scroll-lock-scrollable)
              .filter__content.container
                button.filter-close.toggle-section__close
                  span
                  span

                .filter__section
                  h2.filter__section-title Цена
                  .filter__section-content.filter-range
                    .filter-range__item
                      input(type="text" name="range-1" data-min="0" data-max="1000").js-range
                    .filter-range__inputs.row
                      .filter-range__input.col-6
                        .input
                          input(type="number" name='ddd' value='1').filter-range__input-from
                      .filter-range__input.col-6
                        .input
                          input(type="number" name='dddd' value='1').filter-range__input-to

                .filter__section 
                  h2.filter__section-title Бренды
                  .filter__section-content
                    -var index = 0
                    mixin checkbox(title)
                      .checkbox.filter__checkbox-item
                        input(type="checkbox" id=index).checkbox__input
                        label(for=index).checkbox__label=title
                      -index++
                    +checkbox('Apple')
                    +checkbox('Samsung')
                    +checkbox('Huawei')
                    +checkbox('Honor')
                  


        .catalogue__content.col-xl-9.col-lg-8
          .catalogue__sort.grid 
            .row.grid__row 
              .grid__item.col-xl-3.col-md-4.col-sm-6
                .select
                  select(name="select").select__element
                    option Популярные
                    option По убыванию
                    option По возрастанию 
                  svg.icon
                    use(xlink:href='./img/icons/sprite.svg#arrow')

          .catalogue__items.grid
            .row.grid__row
              mixin block(type) 
                .catalogue-block.grid__item
                  .catalogue-block__container
                    .catalogue-block__left
                      .catalogue-block__slider.splide
                        .splide__track
                          .splide__list
                            a(href=product).splide__slide.catalogue-block__slide.image.image_contain
                              img(data-src="./img/1201260851.png", alt="image").lazyload
                            a(href=product).splide__slide.catalogue-block__slide.image.image_contain
                              img(data-src="./img/black-apple-watch.png", alt="image").lazyload
                      .catalogue-block__info 
                        .catalogue-block__info-top
                          .catalogue-block__info-head 
                            span.catalogue-block__info-label Бестселлер
                            .h2.catalogue-block__title
                              a(href=product).link.link_reversed Смартфон iPhone 11 Pro
                          ul.catalogue-block__info-list 
                            li Диагональ экрана, дюймы: 
                              strong 5,45
                            li ОЗУ: 
                              strong 3 ГБ
                            li Встроенная память: 
                              strong 16 ГБ
                        .catalogue-block__info-bottom 
                          .rate-stars
                            svg.icon
                              use(xlink:href='./img/icons/sprite.svg#star')
                            svg.icon
                              use(xlink:href='./img/icons/sprite.svg#star')
                            svg.icon
                              use(xlink:href='./img/icons/sprite.svg#star')
                            svg.icon
                              use(xlink:href='./img/icons/sprite.svg#star')
                            svg.icon
                              use(xlink:href='./img/icons/sprite.svg#star')
                          
                          a(href=template).link.link_reversed 150 отзывов 

                    .catalogue-block__buy
                      .catalogue-block__buy-top 
                        if type==1
                          .catalogue-block__buy-discount-label
                            span -20%
                        .catalogue-block__buy-price-block
                          span.catalogue-block__price.h2 5990 Р
                          if type==1
                            span.catalogue-block__price-old 7890 Р


                      .catalogue-block__buy-bottom.row 
                        .col.col-sm-auto
                          button.button.button_style-1.catalogue-block__cart В корзину
                        .catalogue-block__more.col-auto 
                          a(href=template).button.button_style-4 
                            span 

                    button.catalogue-block__favorites
                      svg.icon
                        use(xlink:href='./img/icons/sprite.svg#heart')





              +block(1)
              +block()
              +block(1)
              +block()