extends layout/layout
block variables
  -var title = sitename+' - Главная'
block content

  section.section.home-banner
    .container
      .row
        .home-banner__content.col-xl-4
          .home-banner__content-top
            .home-banner__title ibuyit
            .home-banner__txt-head приглашает вас к сотрудничеству
            .home-banner__txt Стань частью команды  
              strong IBUYIT 
              br  
              | и открой свою точку в удобном тебе месте! 
          a(href=template).button.button_style-1.home-banner__btn ПОДРОБНЕЕ
        .col-xl-8
          .splide
            .splide__track
              .splide__list
                //slide
                a(href=template).splide__slide.home-banner__slide     
                  img(src="./img/banner.jpg", alt="image")
        

  section.section 
    .container 
      .section__head  
        h2 Хиты продаж
      .section__content.grid 
        .row.grid__row
          include blocks/cards
          +card2('col-lg-6')
          .col-xl-3.col-lg-6
            .row
              include blocks/cards
              +card1('col-lg-12 col-6')
              +card1('col-lg-12 col-6')

          .col-xl-3
            .row
              include blocks/cards
              +card1('col-xl-12 col-6')
              +card1('col-xl-12 col-6')


  section.section.instagram-widget
    .container 
      .section__head  
        h2 Наш инстаграм
      .row
        .col-lg-3.instagram-widget__icon
          img(src="./img/instagram.svg", alt="image")
        .col-lg-9
          .instagram-widget__container.grid
            .row.grid__row
              mixin item(styles, image, link)
                .instagram-widget__block(class=styles).grid__item.col-md-4.col-6
                  a(href=link target="_blank").instagram-widget__block-container.image.image_cover 
                    img(data-src=image, alt='img').lazyload
              +item('instagram-widget__block_series', 'https://instagram.fnlv2-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/p640x640/159580785_339720317455155_5227473845448285326_n.jpg?tp=1&_nc_ht=instagram.fnlv2-1.fna.fbcdn.net&_nc_cat=103&_nc_ohc=NdZZIbMmhEQAX_wVJ5f&oh=a735368678b64145dd248de32e7ddfd9&oe=6075D983', 'https://www.instagram.com/p/CMSlKn8DneE/')
              +item('instagram-widget__block_video', 'https://instagram.fnlv2-1.fna.fbcdn.net/v/t51.2885-15/e35/c140.0.360.360a/158875192_303331154540743_7796733418019947586_n.jpg?tp=1&_nc_ht=instagram.fnlv2-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=gYr7UOj8mjMAX_EDon2&oh=141c7a00ce448324889fd27b9a651489&oe=604CA9A3', 'https://www.instagram.com/p/CMSj4VMjkMM/')
              +item('', 'https://instagram.fnlv2-1.fna.fbcdn.net/v/t51.2885-15/e35/c343.0.753.753a/s480x480/158899750_134989751871168_328012768432651611_n.jpg?tp=1&_nc_ht=instagram.fnlv2-1.fna.fbcdn.net&_nc_cat=100&_nc_ohc=hpGogYoIdBsAX-cvaNU&oh=bcc7603809e551e13871a12c52f8bea6&oe=60745966', 'https://www.instagram.com/p/CMPu3dij-le/')
              +item('instagram-widget__block_series', 'https://instagram.fnlv2-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/p640x640/159580785_339720317455155_5227473845448285326_n.jpg?tp=1&_nc_ht=instagram.fnlv2-1.fna.fbcdn.net&_nc_cat=103&_nc_ohc=NdZZIbMmhEQAX_wVJ5f&oh=a735368678b64145dd248de32e7ddfd9&oe=6075D983', 'https://www.instagram.com/p/CMSlKn8DneE/')
              +item('instagram-widget__block_video', 'https://instagram.fnlv2-1.fna.fbcdn.net/v/t51.2885-15/e35/c140.0.360.360a/158875192_303331154540743_7796733418019947586_n.jpg?tp=1&_nc_ht=instagram.fnlv2-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=gYr7UOj8mjMAX_EDon2&oh=141c7a00ce448324889fd27b9a651489&oe=604CA9A3', 'https://www.instagram.com/p/CMSj4VMjkMM/')
              +item('', 'https://instagram.fnlv2-1.fna.fbcdn.net/v/t51.2885-15/e35/c343.0.753.753a/s480x480/158899750_134989751871168_328012768432651611_n.jpg?tp=1&_nc_ht=instagram.fnlv2-1.fna.fbcdn.net&_nc_cat=100&_nc_ohc=hpGogYoIdBsAX-cvaNU&oh=bcc7603809e551e13871a12c52f8bea6&oe=60745966', 'https://www.instagram.com/p/CMPu3dij-le/')

      .section__more 
        a(href='https://www.instagram.com/wbpictures/?hl=ru' target='_blank').button.button_style-2 Перейти в профиль





  section.section 
    .container 
      .section__head  
        h2 Мы рекомендуем
      .section__content.grid 
        .row.grid__row
          include blocks/cards
          -var classes = 'col-xl-3 col-6';
          +card1(classes)
          +card1(classes)
          +card1(classes)
          +card1(classes)
          +card1(classes)
          +card1(classes)
          +card1(classes)
          +card1(classes)
      .section__more 
        a(href=catalogue).button.button_style-2 Смотреть каталог
        